include ../text-field/text-field

mixin dropdown({ label, value, disabled=false, theme, mask, show=false })

    -const classes = theme ? `dropdown js-dropdown dropdown_theme_${theme}` : 'dropdown js-dropdown';

    div(class = show ? `${classes} dropdown_is_showed` : classes)
        div.dropdown__button-container.js-dropdown__button-container
            +text-field({ 
                type: 'button',
                theme: 'icon',
                style: 'cursor: pointer',
                icon: {
                    text: 'expand_more',
                    wrapperClass: 'dropdown__icon'
                },
                value, 
                mask, 
                label,
                disabled
            })
        div.dropdown__viewport.js-dropdown__viewport
            div.dropdown__container.js-dropdown__container
                if block
                    block