mixin rate-button(rateButton)
    -
        const {
            name,
            value,
            ariaLabel,
            checked=false,
            disabled=false
        } = rateButton;
        
    input(
        class = 'rate-button js-rate-button'
        type = 'radio'
        name = name
        value = value
        checked = checked ? true : false
        disabled = disabled ? true : false
        aria-label = ariaLabel
    )