/* rate */

.rate-button {
    width: 24px;
    height: 24px;   
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    &:before {
        content: 'star';
        font: var(--icon-font);
        font-size: 24px;
        background: var(--purple-gradient);  
        background-clip: text; 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }

    &:checked ~ .rate-button:before {
        content: 'star_border';   
    }

    &:disabled {
        cursor: default;
    }

    &:focus {
        outline: var(--outline);
    }

    &:hover:not(:disabled) {
        box-shadow: var(--shadow-hover);
    }
}