include ../counter/counter

mixin counters-bar({ mode='autoApply' })
    div.counters-bar.js-counters-bar(data-mode=mode)
        ul.counters-bar__list
            if block
                block
        if (mode==='manualApply')
            button.counters-bar__clear-button.js-counters-bar__clear-button(type='button' disabled) очистить
            button.counters-bar__apply-button.js-counters-bar__apply-button(type='button') применить