/* pagination */

.pagination {
    width: max-content;
    display: grid;
    row-gap: 9px;
    justify-items: center;
}

/* description */

.pagination__description {
    font: var(--body-font);
    color: var(--dark-shade-75per);
    line-height: 24px;
}

/* list */

.pagination__list {
    display: flex;
    list-style: none;
}

/* item */

.pagination__item {
    display: none;
}

.pagination__item_shown, 
.pagination__item_active {
    display: flex;
}

.pagination__item_ellipsis {
    width: 40px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--body-font);
    color: var(--dark-shade-50per);
    cursor: default;
}

/* link */

.pagination__link {
    width: 40px; 
    height: 40px;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    font: var(--body-font);
    font-size: 12px;
    color: var(--dark-shade-50per);
    text-decoration: none;
}

.pagination__link_active {
    background: var(--purple-gradient);
    border-radius: 50%;
    color: white;
    cursor: default;
}

.pagination__link_prev, 
.pagination__link_next {
    background: var(--green-gradient);
    border-radius: 50%;
    font: var(--icon-font);
    font-size: 24px;
    color: white;
}

.pagination__link_prev:hover, 
.pagination__link_next:hover {
    box-shadow: var(--shadow-hover);
}

.pagination__link:focus {
    outline: var(--outline);
    outline-offset: -5px;
}

.pagination__link:not(.pagination__link_next):not(.pagination__link_prev):not(.pagination__link_active):hover {
    text-decoration: underline;
}
