include ../button/button

mixin pagination({ pages, active, description })
    div.pagination.js-pagination
        ul.pagination__list
            li.pagination__prev-button-container.js-pagination__prev-button-container
                +button({
                    theme: 'filled-green',
                    type: 'button',
                    icon: 'arrow_back'
                })
            each link, index in pages
                -const number = index + 1
                if number === Number(active)
                    li.pagination__item.js-pagination__item.pagination__item_active.js-pagination__item_active
                        a.pagination__link #{number}
                else 
                    li.pagination__item.js-pagination__item
                        a.pagination__link(href=link) #{number}
            li.pagination__next-button-container.js-pagination__next-button-container
                +button({
                    theme: 'filled-green',
                    type: 'button',
                    icon: 'arrow_forward'
                })
        if description
            span.pagination__description #{description}