mixin pagination({ pages, description })
    div(class = 'pagination js-pagination')
        ul(class = 'pagination__list')
            each data, index in pages
                if data.prev 
                    li(class = 'pagination__item pagination__item_prev js-pagination__item_prev') 
                        a(
                            href = data.href
                            class = 'pagination__link pagination__link_prev js-pagination__link_prev'
                            title = data.title
                            aria-label = data.label
                        ) arrow_back

                else if data.next
                    li(class = 'pagination__item pagination__item_next js-pagination__item_next') 
                        a(
                            href = data.href
                            class = 'pagination__link pagination__link_next js-pagination__link_next'
                            title = data.title
                            aria-label = data.label
                        ) arrow_forward
                
                else if data.active
                    li(class = 'pagination__item js-pagination__item pagination__item_active js-pagination__item_active')
                        a(
                            href = data.href
                            class = 'pagination__link pagination__link_active js-pagination__link'
                            title = data.title
                            aria-label = data.label
                        ) #{index}
                else 
                    li(class = 'pagination__item js-pagination__item')
                        a(
                            href = data.href
                            class = 'pagination__link js-pagination__link'
                            title = data.title
                            aria-label = data.label
                        ) #{index}

        if description
            span(class = 'pagination__description') #{description}