extends ../../globals/template

include ../../components/layout/layout
include ../../components/form-search/form-search
include ../../components/carousel/carousel

block variables
    -const landingPage = require('./../../globals/mocks/landing-page.json');
    -const user = require('./../../globals/mocks/users.json')['#1'];
    -const lang = landingPage.lang;
    -const title = landingPage.title;
    -const description = landingPage.description;
    
block content
    +layout({
            heading: landingPage.heading,
            header: landingPage.header,
            footer: landingPage.footer,
            user: user
        })
        main(class = 'landing-page')
            section(class = 'landing-page__content')
                p(class = 'landing-page__tagline') #{landingPage.tagline}
                +form-search(landingPage.formSearch)
            div(class = 'landing-page__slideshow')
                div(class = 'landing-page__carousel')
                    +carousel({
                        images: landingPage.slideshow.images,
                        autoplay: {
                            delay: '7000'
                        },
                        showBullets: false,
                        showControls: false
                    })