extends ../../globals/template

include ../../components/layout/layout
include ../../components/landing/landing

block variables
    -
        const page = require('../../globals/mocks/landing-page.ru.json');

        const { 
            lang,
            auth,
            user,
            title,
            description,
            landing 
        } = page;

block heading
    | #{page.heading}
    
block content
    +layout(lang, auth, user)
        +landing(landing, lang)