/* landing page */

.landing-page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    background-color: var(--dark-shade-5per);
}

@media (max-width: 879px) {
    .landing-page {
        padding: 35px 0;
    }
}

@media (min-width: 880px) {
    .landing-page {
        padding-top: 70px;
        height: 830px;
    }
}

/* content */

.landing-page__content {
    position: relative;
    width: min(90vw, 1159px);
    grid-column: 2;
}

@supports not (width: min(90vw, 1159px)){
    .landing-page__content {
        width: 90vw;
        max-width: 1159px;
    }
}

@media (max-width: 1166px) {
    .landing-page__content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

/* tagline */ 

.landing-page__tagline {
    position: absolute;
    bottom: 18px;
    right: 0;
    max-width: 297px;
    font: var(--body-font);
    color: var(--dark-shade-75per);
}

@media (max-width: 879px) {
    .landing-page__tagline {
        display: none;
    }
}

/* slideshow */

.landing-page__slideshow {
    position: absolute;
    min-width: 100%;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

/* carousel */

.landing-page__carousel {
    position: relative;
    max-width: 1440px;
}
