/* quicksand-regular - vietnamese_latin-ext_latin
*/
@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.eot");
    src: local(""),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.woff2")
            format("woff2"),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.woff")
            format("woff"),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.ttf")
            format("truetype"),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-regular.svg#Quicksand")
            format("svg");
}

/* quicksand-600 - vietnamese_latin-ext_latin 
*/
@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.eot");
    src: local(""),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.woff2")
            format("woff2"),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.woff")
            format("woff"),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.ttf")
            format("truetype"),
        url("../fonts/quicksand/quicksand-v20-vietnamese_latin-ext_latin-700.svg#Quicksand")
            format("svg");
}

/* open-sans-regular - cyrillic-ext_cyrillic 
*/
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
    src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-regular.woff2")
            format("woff2"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-regular.woff")
            format("woff"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-regular.ttf")
            format("truetype"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-regular.svg#OpenSans")
            format("svg");
}

/* open-sans-700 - cyrillic-ext_cyrillic 
*/
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
    src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-700.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-700.woff2")
            format("woff2"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-700.woff")
            format("woff"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-700.ttf")
            format("truetype"),
        url("../fonts/open-sans/open-sans-v17-cyrillic-ext_cyrillic-700.svg#OpenSans")
            format("svg");
}

/* montserrat-regular - latin-ext_latin_cyrillic-ext_cyrillic 
*/
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot");
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2")
            format("woff2"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff")
            format("woff"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf")
            format("truetype"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Montserrat")
            format("svg");
}

/* montserrat-700 - latin-ext_latin_cyrillic-ext_cyrillic 
*/
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.eot");
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2")
            format("woff2"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.woff")
            format("woff"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf")
            format("truetype"),
        url("../fonts/montserrat/montserrat-v14-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#Montserrat")
            format("svg");
}

/* material icon font 
*/
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/iconfont/MaterialIcons-Regular.eot");
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url("../fonts/iconfont/MaterialIcons-Regular.woff2") format("woff2"),
        url("../fonts/iconfont/MaterialIcons-Regular.woff") format("woff"),
        url("../fonts/iconfont/MaterialIcons-Regular.ttf") format("truetype");
}
