:root {
    
    /* dark shade color set */

    --dark-shade-hue:           238;
    --dark-shade-100per:        hsla(var(--dark-shade-hue), 35%, 19%, 1);
    --dark-shade-75per:         hsla(var(--dark-shade-hue), 35%, 19%, .75);
    --dark-shade-50per:         hsla(var(--dark-shade-hue), 35%, 19%, .50);
    --dark-shade-25per:         hsla(var(--dark-shade-hue), 35%, 19%, .25);
    --dark-shade-10per:          hsla(var(--dark-shade-hue), 35%, 19%, .1);
    --dark-shade-5per:          hsla(var(--dark-shade-hue), 35%, 19%, .05);

    /* purple color set */

    --purple-hue:               259;
    --purple-100per:            hsla(var(--purple-hue), 100%, 81%, 1);
    --purple-50per:             hsla(var(--purple-hue), 100%, 81%, .5);
    --purple-25per:             hsla(var(--purple-hue), 100%, 81%, .25);
    --purple-gradient:          linear-gradient(180deg, var(--purple-100per) 0%, #8BA4F9 100%);

    /* green color set */

    --green-hue:                145;
    --green-100per:             hsla(var(--green-hue), 50%, 62%, 1);
    --green-gradient:           linear-gradient(180deg, var(--green-100per) 0%, #66D2EA 100%);

    /* red color set */
    --red-hue:                  1;
    --red-100per:               hsla(var(--red-hue), 48%, 42%, 1);
    --red-50per:               hsla(var(--red-hue), 48%, 72%, .5);
    --red-25per:               hsla(var(--red-hue), 48%, 72%, .25);

    /* custom outline style */

    --outline:                  1px dashed var(--dark-shade-75per); 

    /* box-shadow */

    --shadow:                   0 10px 20px var(--dark-shade-5per);
    --shadow-hover:             0 0 2px var(--dark-shade-75per);

    /* border */

    --border: 1px solid var(--dark-shade-25per);

    /* fonts */

    --body-font:                normal 1rem/1.7142857142857142rem "Montserrat", sans-serif;
    --h1-font:                  normal bold 1.7142857142857142rem/2.142857142857143rem "Quicksand", "Open Sans", sans-serif;
    --h2-font:                  normal bold 1.3571428571428572rem/1.7142857142857142rem "Quicksand", "Open Sans", sans-serif;
    --h3-font:                  normal bold 0.8571428571428571rem "Montserrat", sans-serif;
    --icon-font:                normal 100%/100% "Material Icons";
}

/* global font size */

html {
    font-size: min(3.7vmin, 14px);
}

/* zero padding and margin, remove border and background, add border-box for headings, button, input tags */

*, h1, h2, h3, button, input, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--dark-shade-25per);
}