doctype html

block variables
    -let lang = 'ru';
    -let metaDescription = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'

html(lang = lang)
    head
        meta(charset = 'UTF-8')

        meta(
            name = 'viewport' 
            content = 'width=device-width, initial-scale=1.0'
        )

        meta(
            name = 'description' 
            content = metaDescription
        )

        meta(
            name = 'theme-color' 
            content = '#ffffff'
        )

        title
            block title
 
    body(class = 'page')
        block content