mixin radio({ name, value, label, checked=false, disabled=false })
    label(class = 'radio')
        input(
            class = 'radio__input'
            type = 'radio' 
            name = name 
            value = value 
            checked = checked 
            disabled = disabled
            )
        div(class = 'radio__mark')
        if label
            span(class = 'radio__label') #{label}