/* filter */

.filter {
    width: 19rem;
    height: max-content;
    display: grid;
    row-gap: 1.42857142857rem;
    background-color: inherit;
}

/* heading */

.filter__heading {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* slider */

.filter__slider {
    margin: 0.71428571428rem 0;
}

/* checkbox group */

.filter__checkbox-group {
    padding: 0;
    margin-bottom: 0.71428571428rem;
}

/* label */

.filter__label {
    margin-bottom: 1.14285714286rem;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}