include ../like/like

mixin review(review, lang)
    
    -
        const getImagePath = require('../../globals/helpers/getImagePath.js');
        const pluralize = require('../../globals/helpers/pluralize.js');
        const path = getImagePath({src: user.image.src});
        const pubdateTimestamp = new Date(pubdate).getTime();
        const totalTimestamp = Date().now();
        const elapsedDays = Math.floor((totalTimestamp - pubdateTimestamp)/(60*60*24*1000));

        const {
            user,
            pubdate,
            text,
            like 
        } = review;

        const i18n = require('../../components/review/i18n.json')[lang]; 

        const { DAY_PLURAL } = i18n;

    section(class = 'review js-review')
        img(
            class = 'review__avatar js-review__avatar'
            src = path.src,
            alt = user.image.alt
        )
        div(class = 'review__like js-review__like')
            +like(like, lang)

        h4(class = 'review__name js-review__name') #{user.fullname}
        
        time(
            class = 'review__date js-review__date'
            pubdate = pubdate
        ) #{elapsedDays} #{pluralize(lang, DAY_PLURAL, elapsedDays)}

        p(class = 'review__text js-review__text') #{text}