include ../like/like

mixin review({ userAvatar, userName, reviewDate, reviewText, like  })
    div(class = 'review js-review')
        img(
            class = 'review__avatar js-review__avatar'
            url = userAvatar
        )
        div(class = 'review__info')
            p(class = 'review__name js-review__name') #{userName}
            p(class = 'review__date js-review__date') #{reviewDate}
        div(class = 'review__like js-review__like')
            +like(like)
        p(class = 'review__text js-review__text') #{reviewText}