/* review */

.review {
    width: min(100%, 711px);
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: max-content fit-content(653px);
    column-gap: 10px;
}

/* avatar */

.review__avatar {
    grid-row: span 2;
    width: 3.42857142857rem; 
    height: 3.42857142857rem;
    justify-self: end;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: var(--shadow-1);
} 

/* like */

.review__like {
    grid-row: 3;
    padding-top: 0.71428571428rem;
    justify-self: center;
}

/* name */

.review__name {
    font: var(--body-font);
    font-weight: bold;
    color: var(--dark-shade-75per);
}

/* date */

.review__pubdate {
    font: var(--body-font);
    color: var(--dark-shade-75per);
}

/* text */

.review__text {
    padding-top: 0.71428571428rem;
    font: var(--body-font);
    color: var(--dark-shade-75per);
}