/* review */

.review {
    width: min(100%, 711px);
    display: grid;
    grid-template-areas: 
        'avatar info'
        'like text';
    grid-template-columns: max-content fit-content(653px);
    gap: 9.93px 10px;
}

@supports not (width: min(100%, 711px)) {
    .review {
        width: 100%;
        max-width: 711px;
    }
}

/* avatar */

.review__avatar {
    grid-area: avatar;
    width: 48px; 
    height: 48px;
    justify-self: end;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: var(--shadow-1);
} 

/* info */

.review__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
}

/* name */

.review__name {
    font: var(--body-font);
    font-weight: bold;
    color: var(--dark-shade-75per);
}

/* date */

.review__date {
    font: var(--body-font);
    color: var(--dark-shade-75per);
}

/* like */

.review__like {
    grid-area: like;
    justify-self: center;
}

/* text */

.review__text {
    grid-area: text;
    font: var(--body-font);
    color: var(--dark-shade-75per);
}