.review {
    display: grid;
    grid-template-areas: 
        'avatar info'
        'like text';
    gap: 9.93px 10px;
}
.review__avatar {
    grid-area: avatar;
    width: 48px; height: 48px;
    justify-self: end;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: var(--shadow);
} 
.review__info {
    grid-area: info;
    width: max-content;
    display: flex;
    flex-direction: column;
}
.review__name {
    width: max-content;
    font: var(--body-font);
    font-weight: bold;
    color: var(--dark-shade-75per);
}
.review__date {
    width: max-content;
    font: var(--body-font);
    color: var(--dark-shade-75per);
}
.review__like {
    width: max-content;
    grid-area: like;
    justify-self: center;
}
.review__text {
    grid-area: text;
    font: var(--body-font);
    white-space: normal;
    color: var(--dark-shade-75per);
}