/* sign-in */

.sign-in {
    display: grid;
}

@media (min-width: 608px) {
    .sign-in {
        grid-auto-flow: column;
        column-gap: 20px;
    }
}

@media (max-width: 607px) {
    .sign-in {
        row-gap: 10px;
    }
}