include ./radio-button/radio-button

mixin radio-bar(radioBar)
    -
        const {
            radioButtons,
            ariaLabel
        } = radioBar;

    div(
        class = 'radio-bar'
        role = 'radiogroup'
        aria-label = ariaLabel ? ariaLabel : false
    )
        each item in radioButtons
            +radio-button(item)