include ./radio-button/radio-button

mixin radio-bar(radioBar)
    -
        const {
            radioButtons,
            name,
            ariaLabel
        } = radioBar;

    div(
        class = 'radio-bar'
        role = 'radiogroup'
        aria-label = ariaLabel ? ariaLabel : false
    )
        each item in radioButtons
            +radio-button({
                name,
                disabled,
                value: item.value,
                checked: item.checked,
                label: item.label
            })