/* root styles */

.ui-kit-layout {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        'link . .'
        '. content .'
        '. . .';
    grid-template-columns: 
        1fr min(90vw, 1159px) 1fr;
    grid-template-rows: 
        145px auto 145px;
}

.ui-kit-layout__link {
    width: min-content; height: min-content;
    margin-right: 62px; margin-bottom: 60px;
    grid-area: link;
    justify-self: end;
    align-self: end;
}

.ui-kit-layout__content {
    grid-area: content;
}

/* max-width 1435px */

@media(max-width: 1435px) {
    .ui-kit-layout {
        grid-template-areas: 
         '. link .'
         '. content .'
         '. . .';
    }
    .ui-kit-layout__link {
        width: min-content; height: min-content;
        margin-right: 0; margin-bottom: 60px;
        grid-area: link;
        justify-self: start;
        align-self: end;
    }
}