/* root */

.ui-kit {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
        'header header header'
        '. main .'
        '. . .';
    grid-template-columns: 
        1fr max-content 1fr;
}

.ui-kit_background-color_white {
    background-color: white;
}

.ui-kit_background-color_grey {
    background-color: var(--dark-shade-5per);
}

@media(max-height: 452px) {
    .ui-kit {
        grid-template-rows: 
            79px auto 79px;
    }
}

@media(min-height: 452px) {
    .ui-kit {
        grid-template-rows: 
            145px auto 145px;
    }
}

/* header */

.ui-kit__header {
    grid-area: header;
    display: grid;
}

@media(min-width: 725px) {
    .ui-kit__header {
        grid-template-areas: 
            '. link . .';
        grid-template-columns: 1fr auto min(90vw, 1330px) 1fr;
    }
}

@media(max-width: 725px) {
    .ui-kit__header {
        grid-template-areas: 
            '. link .';
        grid-template-columns: 1fr auto 1fr;
    }
}

@media(max-height: 452px) {
    .ui-kit__header {
        align-self: center;
    }
}

@media(min-height: 452px) {
    .ui-kit__header {
        padding-top: 31px;
    }
}

/* link */

.ui-kit__link {
    grid-area: link;
    height: max-content;
    display: inline-flex;
    justify-self: end;
    border-radius: 50%;
}

.ui-kit__link:hover {
    box-shadow: var(--shadow-hover);
}

.ui-kit__link:focus {
    outline: var(--outline);
    outline-offset: 1px;
}

/* main */

.ui-kit__main {
    grid-area: main;
}

