/* landing */

.landing {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    background-color: var(--dark-shade-5per);
}

@media (width < 880px) {
    .landing {
        padding: 35px 0;
    }
}

@media (width >= 880px) {
    .landing {
        padding-top: 70px;
        height: 830px;
    }
}

/* content */

.landing__content {
    position: relative;
    width: min(90vw, 1159px);
    grid-column: 2;
}

@media (width < 1167px) {
    .landing__content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

/* tagline */ 

.landing__tagline {
    position: absolute;
    bottom: 18px;
    right: 0;
    max-width: 297px;
    font: var(--body-font);
    color: var(--dark-shade-75per);
    text-align: right;
}

@media (width < 880px) {
    .landing__tagline {
        display: none;
    }
}

/* slideshow */

.landing__slideshow {
    position: absolute;
    min-width: 100%;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

/* carousel */

.landing__carousel {
    position: relative;
    max-width: 1440px;
}

@media (width >= 880px) {
    .landing__carousel {
        height: 900px;
    }
}