/* landing */

.landing {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    background-color: var(--dark-shade-5per);
}

@media (width < 880px) {
    .landing {
        padding: 5rem 0;
    }
}

@media (width >= 880px) {
    .landing {
        padding-top: 5rem;
        height: 59.2857142857rem;
    }
}

/* content */

.landing__content {
    width: min(100vw, 1159px);
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (width < 880px) {
    .landing__content {
        align-items: center;
    }
}

/* tagline */ 

.landing__tagline {
    align-self: flex-end;
    margin-bottom: 18px;
    max-width: 297px;
    font: var(--body-font);
    color: var(--dark-shade-75per);
    text-align: right;
}

@media (width < 880px) {
    .landing__tagline {
        display: none;
    }
}

/* background */

.landing__background {
    position: absolute;
    min-width: 100%;
    bottom: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

@media (width < 433px) {
    .landing__background {
        height: 100%;
        background-image: var(--landing-bg-image);
    }
}

/* carousel */

.landing__carousel {
    position: relative;
    max-width: 1440px;
}

@media (width < 433px) {
    .landing__carousel {
        display: none;
    }
}

@media (width >= 880px) {
    .landing__carousel {
        height: 900px;
    }
}