/* search room */

.search-room {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

@media (width < 880px) {
    .search-room {
        padding: 2.5rem 0;
    }
}

@media (width >= 880px) {
    .search-room {
        padding-top: 2.14285714286rem;
        padding-bottom: 5rem;
    }
}

/* content */

.search-room__content {
    width: min(90vw, 1159px);
    grid-column: 2;
}

@media (width < 1239px) {
    .search-room__content {
        position: relative;
    }
}

@media (width >= 1239px) {
    .search-room__content {    
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        column-gap: 1.07142857143rem;
    }
}

/* filter */

@media (width < 1239px) {
    .search-room__filter {
        position: absolute;
        display: none;
    }
}