mixin label-wrapper({ label, hidden=false })
    section(class = hidden ? 'footer-label-wrapper footer-label-wrapper_visually-hidden' : 'footer-label-wrapper')
        h3(class =  hidden ? 'footer-label-wrapper__label footer-label-wrapper__label_visually-hidden' : 'footer-label-wrapper__label') #{label}
        if block
            block