mixin label-wrapper({ label, hidden=false })
    section(class = hidden ? 'label-wrapper label-wrapper_visually-hidden' : 'label-wrapper')
        h3(class =  hidden ? 'label-wrapper__label label-wrapper__label_visually-hidden' : 'label-wrapper__label') #{label}
        if block
            block