/* label-wrapper */

.footer-label-wrapper:not(.footer-label-wrapper_visually-hidden) {
    padding-top: 5px;
}

/* label */

.footer-label-wrapper__label:not(.footer-label-wrapper__label_visually-hidden) {
    margin-bottom: 20px;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-label-wrapper__label_visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}