/* button */

.button {
    width: max(99px, 100%); 
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    cursor: pointer;
}

.button:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.button:disabled {
    cursor: default;
}

.button_color_purple {
    color: var(--purple-100per);
}

.button_color_dark-shade {
    color: var(--dark-shade-50per);
}

.button_color_purple-filled {
    background: var(--purple-gradient);
    color: white;
}

.button_color_purple-filled:hover:not(:disabled) {
    box-shadow: var(--shadow-hover);
}

.button_color_purple-filled:active {
    opacity: .5;
    transition: opacity .3s;
}

.button_color_purple-filled:disabled {
    opacity: .5;
    transition: opacity .3s;
}

.button_color_purple-shaped {
    border: 2px solid var(--purple-100per);
    color: var(--purple-100per);
}

.button_color_purple-shaped:hover:not(:disabled) {
    box-shadow: var(--shadow-hover);
}

.button_color_purple-shaped:active {
    border-color: var(--purple-50per);
    transition: border-color .3s;
}

.button_color_purple-shaped:disabled {
    border-color: var(--purple-50per);
    transition: border-color .3s;
}

.button_inline {
    width: max-content; height: max-content;
}

.button_inline:hover:not(:disabled) {
    text-decoration: underline;
}

.button_inline:active {
    opacity: 0.5;
    transition: opacity .3s;
}

.button_inline:disabled {
    opacity: 0;
    transition: opacity .3s;
}

.button_with_icon {
    position: relative;
}

/* label */

.button__label {
    font: var(--h3-font);
    text-transform: uppercase;
    pointer-events: none;
}

/* icon */

.button__icon {
    position: absolute;
    right: 0;
    width: 44px;
    display: flex;
    justify-content: center; align-items: center;  
    font: var(--icon-font);
    font-size: 24px;
    pointer-events: none;
}


