/* root styles */

.button {
    width: min(100%, 320px); height: 44px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    cursor: pointer;
} 

.button__label {
    font: var(--h3-font);
    text-transform: uppercase;
}

.button__icon {
    width: 44px;
    position: absolute;
    right: 0;
    font-size: 24px;
    line-height: 24px;
}

/* default theme styles */

.button_theme_default.button {
    background: var(--purple-gradient);
}   

.button_theme_default.button:active,
.button_theme_default.button:disabled {
    opacity: 0.5;
    transition: opacity .2s;
}

.button_theme_default .button__label, 
.button_theme_default .button__icon  {
    color: white;
}

/* shaped theme styles */
        
.button_theme_shaped.button {
    background: white;
    border: 2px solid;
    border-color: var(--purple-100per);
}

.button_theme_shaped.button:active,
.button_theme_shaped.button:disabled {
    border-color: var(--purple-50per);
    transition: border-color .2s;
}

.button_theme_shaped .button__label, 
.button_theme_shaped .button__icon {
    color: var(--purple-100per);
}

/* hollow theme styles */
    
.button_theme_hollow.button {
    height: auto;
    width: max-content;
}

.button_theme_hollow .button__label {
    color: var(--purple-100per);
}

.button_theme_hollow.button:active .button__label,
.button_theme_hollow.button:disabled .button__label {
    color: var(--dark-shade-50per);
    transition: color .2s;
}