include ../list/list

mixin menu({ label, list })
    div(class = 'menu js-menu') 
        button(class = 'menu__button js-menu__button')
            p(class = 'menu__label') #{label}
            span(class = 'menu__icon') expand_more
        div(class = 'menu__containter js-menu__containter')
            +list(list)
            