include ../header/header

mixin headers-and-footers({ headersAndFooters, user })
    div(class = 'headers-and-footers')
        div(class = 'headers-and-footers__item')
            +header({
                header: headersAndFooters.headerNoAuth
            })
        
        div(class = 'headers-and-footers__item')
            +header({
                header: headersAndFooters.headerAuth,
                user
            })