include ../header/header
include ../footer/footer

mixin headers-and-footers({ headersAndFooters, users })
    div(class = 'headers-and-footers')
        +header({
            header: headersAndFooters.header
        })
    
        -headersAndFooters.header.auth = true

        +header({
            header: headersAndFooters.header,
            user: users['#1']
        })
        +footer(headersAndFooters.footer)