include ../header/header
include ../footer/footer

mixin headers-and-footers({ headersAndFooters, user })
    div(class = 'headers-and-footers')
        +header({
            header: headersAndFooters.headerNoAuth
        })
    
        +header({
            header: headersAndFooters.headerAuth,
            user
        })
        +footer(headersAndFooters.footer)