include ../link/link

mixin link-list(linkList, id)
    ul(
        class = 'link-list'
        id = id
    )
        each item in linkList
            li(class = 'link-list__item')
                +link(item)