extends ../../globals/template

include ../../components/layout/layout
include ../../components/search-room/search-room

block variables
    -
        const page = require('../../globals/mocks/search-room.json');
        const lang = page.lang;
        const title = page.title;
        const description = page.description;

block heading
    | #{page.heading}

block content
    -
        const {
            layout,
            searchRoom
        } = page;

    +layout(layout, lang)
        +search-room(searchRoom, lang)

