extends ../../globals/template

include ../../components/layout/layout
include ../../components/search-room/search-room

block variables
    -
        const searchRoomPage = require('../../globals/mocks/search-room.json');
        const lang = searchRoomPage.lang;
        const title = searchRoomPage.title;
        const description = searchRoomPage.description;

block heading
    | #{searchRoomPage.heading}

block content
    -
        const {
            layout,
            searchRoom
        } = searchRoomPage;

    +layout(layout, lang)
        +search-room(searchRoom, lang)

