/* search room */

.search-room {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

@media (max-width: 879px) {
    .search-room {
        padding: 35px 0;
    }
}

@media (min-width: 880px) {
    .search-room {
        padding-top: 30px;
        padding-bottom: 70px;
    }
}

/* content */

.search-room__content {
    width: min(90vw, 1159px);
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
}

@supports not (width: min(90vw, 1159px)){
    .search-room__content {
        width: 90vw;
        max-width: 1159px;
    }
}

@media (max-width: 1166px) {
    .search-room__content {
        position: relative;
    }
}

@media (max-width: 1279px) {
    .search-room__content {
        justify-content: space-evenly;
    }
}

@media (min-width: 1280px) {
    .search-room__content {    
        justify-content: space-between;
    }
}

/* filter */

@media (max-width: 1166px) {
    .search-room__filter {
        position: absolute;
        display: none;
    }
}

/* result section */

.search-room__result-section {
    display: grid;
}

@media (max-width: 612px) {
    .search-room__result-section {
        row-gap: 30px;
        text-align: center;
    }
}

@media (min-width: 613px) {
    .search-room__result-section {
        gap: 20px 12px;
    };
}

@media (min-width: 613px) and (max-width: 1279px) {
    .search-room__result-section {
        --column-span: span 2;
    }
}

@media (max-width: 1279px) {
    .search-room__result-section {
        justify-items: center;
    }
}


@media (min-width: 1280px) {
    .search-room__result-section {
        --column-span: span 3;
    }
}

.search-room__result-section-heading {
    grid-column: var(--column-span);
    font: var(--h1-font);
    color: var(--dark-shade-100per);
}

.search-room__result-section-pagination {
    grid-column: var(--column-span);
    margin-top: 20px;
    justify-self: center;
}