/* form login */

.form-login {
    width: min(100%, 380px);
    padding: 38px min(5vw, 30px) 33px min(5vw, 28px);
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px; 
} 

/*  title */

.form-login__title {
    font: var(--h1-font);
    color: var(--dark-shade-100per);
}

/* main */

.form-login__main {
    display: grid;
    gap: 20px 0;
    padding: 20px 0 20px 0; 
}

/* fieldset */

.form-login__fieldset {
    display: grid;
    gap: 10px 0;
}

/* footer  */

.form-login__footer {
    display: grid;
    row-gap: 30px;
}

/* submit button */

.form-login__submit-button {
    height: 44px;
}

/* registration */

.form-login__registration {
    display: grid;
    grid-template-areas: 
        'text . link';
    grid-template-columns: max-content 1fr 99px;
    align-items: center;
}

/* registration text */

.form-login__registration-text {
    grid-area: text;
    font: var(--body-font);
}

/* registration button */

.form-login__registration-link {
    grid-area: link;
    height: 44px;
}