include ../text-field/text-field
include ../button/button
include ../link/link

mixin form-login(lang)
    -
        const i18n = require('../../components/form-login/i18n.json')[lang]; 

        const {
            LOGIN,
            SERVICE_LOGIN_DETAILS,
            ENTER_EMAIL,
            ENTER_PASSWORD,
            PASSWORD,
            NO_ACCOUNT_ON,
            CREATE,
            REGISTRATION_PAGE
        } = i18n;

    form(
        class = 'form-login'
        name = 'login' 
        method = 'get'
    )
        h2(
            class = 'form-login__label'
        ) #{LOGIN}
        
        div(
            class = 'form-login__fieldset'
            role = 'group'
            aria-label = SERVICE_LOGIN_DETAILS
        )
            +text-field({
                name: 'email',
                type: 'email',
                placeholder: 'Email',
                required: true,
                title: ENTER_EMAIL,
                ariaLabel: 'Email'
            })
            +text-field({
                name: 'password',
                type: 'password',
                placeholder: PASSWORD,
                required: true,
                title: ENTER_PASSWORD,
                ariaLabel: PASSWORD
            })
                
        div(class = 'form-login__submit-button')
            +button({
                label: LOGIN,
                color: 'purple',
                fill: true,
                icon: 'arrow_forward'
            })

        div(class = 'form-login__registration')
            p(class = 'form-login__registration-text') #{NO_ACCOUNT_ON} Toxin?
            span(class = 'form-login__registration-link')
                +link({
                    label: CREATE,
                    href: './registration-page.html',
                    title: REGISTRATION_PAGE,
                    button: true,
                    border: true
                })
