include ../text-field/text-field
include ../button/button
include ../link/link

mixin form-login({ heading, emailInput, passwordInput, submitButton, registrationLink, registrationText })
    form(
        class = 'form-login'
        name = 'login' 
        method = 'get'
    )
        div(class = 'form-login__header')
            h3(class = 'form-login__title') #{heading}

        div(class = 'form-login__main')
            div(class = 'form-login__fieldset')
                div(class = 'form-login__input')
                    +text-field(emailInput)
                div(class = 'form-login__input')
                    +text-field(passwordInput)

        div(class = 'form-login__footer')
            div(class = 'form-login__submit-button')
                +button(submitButton)
            div(class = 'form-login__registration')
                span(class = 'form-login__registration-text') #{registrationText}
                span(class = 'form-login__registration-link')
                    +link(registrationLink)
