include ../text-field/text-field
include ../button/button
include ../link/link

mixin form-login({ label, loginDataGroup={}, submitButton, registrationLink, registrationText })
    form(
        class = 'form-login'
        name = 'login' 
        method = 'get'
    )
        h2(
            class = 'form-login__label'
        ) #{label}
        
        div(
            class = 'form-login__fieldset'
            role = 'group'
            aria-label = loginDataGroup.ariaLabel ? loginDataGroup.ariaLabel : false
        )
            +text-field(loginDataGroup.emailInput)
            +text-field(loginDataGroup.passwordInput)
                
        div(class = 'form-login__submit-button')
            +button(submitButton)

        div(class = 'form-login__registration')
            p(class = 'form-login__registration-text') #{registrationText}
            span(class = 'form-login__registration-link')
                +link(registrationLink)
