include ../checkbox/checkbox
include ../link/link

mixin list({ label, checkboxes, links, textNodes, bullet })

    -let classes = checkboxes ? `list js-list list_with_checkboxes` :  bullet ? `list js-list list_with_bullet` : 'list js-list';

    ul(class = classes)
        if label
            li(class = 'list__item list__item_heading') 
                h3(class = 'list__heading') #{label}
        if checkboxes
            each data in checkboxes
                li(class = 'list__item')
                    +checkbox(data)
        if textNodes
            each data in textNodes
                li(class = 'list__item')
                    | #{data}
        
        if links
            each data in links
                li(class = 'list__item')
                    +link(data)