include ../checkbox/checkbox
include ../link/link

mixin list({ checkboxes, links, text })

    -let classes = 'list js-list';

    -classes = checkboxes ? `list js-list list_with_checkboxes` : classes;
    -classes = links ? `list js-list list_with_links` : classes;
    -classes = text ? `list js-list list_with_text` : classes;

    ul(class = classes)
        if checkboxes
            each data in checkboxes
                li(class = 'list__item')
                    +checkbox(data)

        else if text
            each data in text
                li(class = 'list__item')
                    | #{data}
        
        else if links
            each data in links
                li(class = 'list__item')
                    +link(data)