include ../checkbox/checkbox

mixin list({ label, theme='default', checkbox, text })

    -const classes = theme ? `list js-list list_theme_${theme}` : 'list js-list';

    ul(class=classes)
        if label
            lh.list__heading.js-list__heading #{label}
        if checkbox
            each data in checkbox
                li.list__item
                    +checkbox(data)
        if text
            each item in text
                li.list__item
                    | #{item}
        