/* list */

.list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list_with_text {
    row-gap: 10px;
}

.list_with_checkboxes { 
    row-gap: 10px;
}

.list_with_links {
    row-gap: 20px;
}

/* item */

.list_with_text .list__item {
    font: var(--body-font);
    color: var(--dark-shade-75per);
    line-height: 24px;
}

.list_with_text .list__item:not(.list__item_heading) {
    position: relative;
    padding-left: 20px;
}

.list_with_text .list__item:not(.list__item_heading)::before {
    content: '';
    position: absolute;
    left: 0; 
    top: 7px;
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    background-color: var(--dark-shade-25per);
}
