include ../checkbox/checkbox
include ../link/link

mixin list({ label, checkbox, link, bullet, text })

    -let classes = checkbox ? `list js-list list_with_checkbox` :  bullet ? `list js-list list_with_bullet` : 'list js-list';

    ul(class = classes)
        if label
            li(class = 'list__item list__item_heading') 
                h3(class = 'list__heading') #{label}
        if checkbox
            each data in checkbox
                li(class = 'list__item')
                    +checkbox(data)
        if text
            each data in text
                li(class = 'list__item')
                    | #{data}
        
        if link
            each data in link
                li(class = 'list__item')
                    +link(data)