/* root styles 
*/
.list {
    display: grid;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* __heading styles
*/
.list__heading {
    margin-bottom: 6px;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}


/* __item styles
*/
.list__item {
    font: var(--body-font);
    color: var(--dark-shade-75per);
    line-height: 24px;
}

/* _theme_bullet styles 
*/
.list_theme_bullet .list__heading {
    margin-bottom: 4px;
}
.list_theme_bullet .list__item {
    position: relative;
    margin-left: 20px;
}
.list_theme_bullet .list__item::before {
    position: absolute;
    content: '';
    left: -20px;
    top: 7px;
    width: 10px; height: 10px;
    border-radius: 50%;
    background-color: var(--dark-shade-25per);
}