/* button */

.expander__button {
    width: 100%; height: 44px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.expander__button:focus {
    outline: var(--outline);
    outline-offset: 1px;
}

/* label */

.expander__label {
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}
/* icon */

.expander__icon {
    display: flex;
    align-items: center;
    justify-content: center;   
    font: var(--icon-font);
    font-size: 24px; 
    color: var(--dark-shade-50per);
    transform: rotate(0);
    transition: transform .6s;
}   

.expander__button:hover .expander__icon {
    color: var(--dark-shade-75per);
}

.expander_is_expanded .expander__icon {
    transform: rotate(180deg);
    transition: transform .6s;
}

/* viewport */

.expander__viewport {
    opacity: 0;          
    max-height: 0;       
    visibility: hidden;
    transition: visibility step-end .6s, opacity .6s, max-height .6s;
 }   

 .expander_expanded .expander__viewport {
    max-height: 1000px;
    opacity: 1;  
    visibility: visible;
    transition: opacity .6s, max-height .6s;
}

/* container */

.expander__container {
    padding-top: 4px;
}
