mixin expander({ label, expanded=false, disabled=false })

    div(class = expanded ? `expander js-expander expander_expanded` : 'expander js-expander')
        button(
            class = 'expander__button js-expander__button'
            type = 'button' 
            disabled = disabled
            aria-expanded = `${expanded}`
        )
            h3(class = 'expander__label') #{label}
            div(
                class = 'expander__icon'
                aria-hidden = 'true'
            ) expand_more
        div(class = 'expander__viewport')
            div(class = 'expander__container js-expander__container')
                if block
                    block