/* date dropdown */

.date-dropdown {
    position: relative;
    width: min(100%, 22.8571428571rem);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 1.42857142857rem;
}

/* viewport */

.date-dropdown__viewport {
    position: absolute;
    z-index: -1;
    --padding: 1.42857142857rem;
    min-width: calc(100% + var(--padding) * 2); 
    padding: 0.71428571428rem var(--padding) var(--padding) var(--padding);
    overflow: hidden;
    left: calc(var(--padding) * -1);
    top: 4.28571428571rem;
    opacity: 0;
    visibility: hidden;
    transition: visibility step-end .6s, opacity .6s, z-index step-end .6s;
}

.date-dropdown_expanded .date-dropdown__viewport {
    z-index: 5;
    opacity: 1;
    visibility: visible;
    transition: opacity .6s;
}

/* container */

.date-dropdown__container {
    --padding: 6.25%;
    padding: var(--padding) var(--padding) var(--padding) var(--padding);
    border: var(--border-1);
    border-radius: 0.21428571428rem;
    border-color: var(--dark-shade-50per);
    box-shadow: var(--shadow-1);
    background-color: white;
    transform: translateY(-100%);
    transition: transform .6s;
}


.date-dropdown_expanded .date-dropdown__container {
    transform: translateY(0);   
    transition: transform .6s;
}

/* active class for text-field__input */

.date-dropdown__button {
    cursor: pointer;
}

.date-dropdown_expanded .date-dropdown__button {
    border-color: var(--dark-shade-50per);
}

/* active class for text-field__icon */

.date-dropdown__icon {
    transition: transform .2s;
}

.date-dropdown_expanded .date-dropdown__icon {
    color: var(--dark-shade-75per);
}

/* active class for text-field__icon/text-field__input */

.date-dropdown__button:active + .date-dropdown__icon {
    transform:  translateY(5px);
    transition: transform .2s;
}

/* control panel */

.date-dropdown__control-panel {
    margin-top: 6.25%;
    display: flex;
    justify-content: space-between;
}