include ../dropdown/dropdown
include ../datepicker/datepicker

mixin date-dropdown({ dropdown, twin})
    if twin
        div(class = 'date-dropdown date-dropdown_twin js-date-dropdown')
            +dropdown({
                offset: 'true',
                show: dropdown.from.show,
                textField: dropdown.from.textField
            })
                div(class = 'date-dropdown__datepicker')
                    +datepicker()
            +dropdown({
                offset: 'true',
                alignRight: 'true',
                show: dropdown.to.show,
                textField: dropdown.to.textField
            })
                div(class = 'date-dropdown__datepicker')           
                    +datepicker()
    else
        div(class = 'date-dropdown date-dropdown_single js-date-dropdown')
            +dropdown({ 
                offset: 'true',
                show: dropdown.show,
                textField: dropdown.textField
            })