include ../dropdown/dropdown
include ../datepicker/datepicker

mixin date-dropdown({ name, label, show, disabled, required, theme='twin'})
    if (theme === 'twin')
        div.date-dropdown.date-dropdown_theme_twin.js-date-dropdown
            +dropdown({
                label: label.from, 
                value: 'ДД.ММ.ГГГГ',
                theme: 'offset',
                name: name.from,
                required,
                show, 
                disabled
            })
                div.date-dropdown__datepicker
                    +datepicker()
            +dropdown({
                label: label.to, 
                value: 'ДД.ММ.ГГГГ',
                theme: 'offset',
                name: name.to,
                align: 'right',
                required,
                show, 
                disabled
            })
                div.date-dropdown__datepicker           
                    +datepicker()
    if (theme === 'single')
        div.date-dropdown.date-dropdown_theme_single.js-date-dropdown
            +dropdown({ 
                value: 'дд.мм-дд-мм',
                mask: 'date', 
                theme: 'offset', 
                name,
                label, 
                show, 
                disabled
            })