/* datepicker */

/* flatpickr */

.flatpickr-calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flatpickr-months  {
    display: flex;
    justify-content: space-between;
}

.flatpickr-current-month {
    display: flex;
    font: var(--h2-font);
}

.numInput {
    width: 50px;
    margin-left: 5px;
    font-weight: bold;
    -moz-appearance: textfield;

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }
    
    &:-webkit-inner-spin-button, &.numInput:-webkit-outer-spin-button {
        display: none;
        margin: 0;
    }
}

.flatpickr-prev-month, .flatpickr-next-month  {
    font: var(--icon-font);
    font-size: 24px;
    color: var(--purple-100per);
    cursor: pointer;
    
    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }
    
    &.flatpickr-disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
}

.flatpickr-weekdaycontainer {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.flatpickr-weekday {
    padding-top: calc(50% - 1.05rem/2);
    padding-bottom: calc(50% - 1.05rem/2);
    text-align: center;
    font: var(--h3-font); 
    color: var(--purple-100per);
}

.flatpickr-rContainer {
    margin-top: min(4%, 30px);
}

.dayContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.flatpickr-day {
    padding-top: calc(50% - 1.05rem/2);
    padding-bottom: calc(50% - 1.05rem/2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font: var(--h3-font); 
    font-weight: normal;
    color: var(--dark-shade-50per);
    cursor: pointer;

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }

    &.prevMonthDay, &.nextMonthDay {
        color: var(--dark-shade-25per);
    }

    &.flatpickr-disabled {
        color: var(--dark-shade-25per);
        cursor: default
    }

    &.today {
        background: var(--green-gradient);
        color: white;
        font-weight: bold;
    }

    &.startRange, &.endRange {
        position: relative;
        background: var(--purple-gradient);
        color: white;
        font-weight: bold;
    }

    &.startRange.endRange {
        &:before {
            content: none;
        }
    }

    &.startRange:before {
        z-index: -1;
        content: '';
        position: absolute;
        left: 50%;
        width: 50%;
        height: 100%;
        background-color: var(--purple-25per);
    }

    &.endRange:before {
        z-index: -1;
        content: '';
        position: absolute;
        right: 50%;
        width: 50%;
        height: 100%;
        background-color: var(--purple-25per);
    }

    &.inRange:not(.startRange, .endRange) {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--purple-25per);
        }
    }

    &:not(.endRange, .startRange, .flatpickr-disabled){
        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    &.startRange, &.endRange {
        &:hover, &:focus {
            box-shadow: var(--shadow-hover);
        }
    }
}







