/* datepicker */

/* flatpickr */

.flatpickr-calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flatpickr-months  {
    display: flex;
    justify-content: space-between;
}

.flatpickr-current-month {
    display: flex;
    font: var(--h2-font);
}

.numInput {
    width: 50px;
    margin-left: 5px;
    font-weight: bold;
    -moz-appearance: textfield;
}

.numInput:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.numInput::-webkit-inner-spin-button,
.numInput::-webkit-outer-spin-button {
    display: none;
    margin: 0;
}

.flatpickr-prev-month {
    font: var(--icon-font);
    font-size: 24px;
    color: var(--purple-100per);
    cursor: pointer;
}

.flatpickr-prev-month:not(.flatpickr-disabled):hover {
    transform: translateX(-3px);
}

.flatpickr-prev-month:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.flatpickr-prev-month.flatpickr-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.flatpickr-next-month {
    font: var(--icon-font);
    font-size: 24px;
    color: var(--purple-100per);
    cursor: pointer;
}

.flatpickr-next-month:not(.flatpickr-disabled):hover {
    transform: translateX(3px);
}

.flatpickr-next-month:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.flatpickr-next-month.flatpickr-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.flatpickr-weekdaycontainer {
    display: grid;
    grid-auto-flow: column;
}

.flatpickr-weekday {
    padding-top: calc(50% - 1.05rem/2);
    padding-bottom: calc(50% - 1.05rem/2);
    text-align: center;
    font: var(--h3-font); 
    color: var(--purple-100per);
}

.flatpickr-rContainer {
    margin-top: min(4%, 30px);
}

@supports not (margin-top: min(4%, 30px)) {
    .flatpickr-rContainer {
        margin-top: 30px;
    }
}

.dayContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.flatpickr-day {
    padding-top: calc(50% - 1.05rem/2);
    padding-bottom: calc(50% - 1.05rem/2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font: var(--h3-font); 
    font-weight: normal;
    color: var(--dark-shade-50per);
    cursor: pointer;
}

.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
    color: var(--dark-shade-25per);
}

.flatpickr-day.flatpickr-disabled {
    color: var(--dark-shade-25per);
    cursor: default
}

.flatpickr-day.today {
    border-radius: 50%;
    background: var(--green-gradient);
    color: white;
    font-weight: bold;
}

.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected {
    z-index: 2;
    border-radius: 50%;
    background: var(--purple-gradient);
    color: white;
    font-weight: bold;
}

.flatpickr-day.startRange,
.flatpickr-day.endRange {
    position: relative;
}

.flatpickr-day.startRange.flatpickr-day.endRange:after,
.flatpickr-day.endRange.flatpickr-day.startRange::before {
    content: none;
}

.flatpickr-day.startRange:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--purple-25per);
}

.flatpickr-day.startRange:after {
    left: 50%;
}

.flatpickr-day.endRange::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--purple-25per);
}

.flatpickr-day.endRange::before {
    right: 50%;
}

.flatpickr-day.inRange:not(.startRange):not(.endRange) {
    z-index: 2;
    position: relative;
}

.flatpickr-day.inRange:not(.startRange):not(.endRange)::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--purple-25per);
}

.flatpickr-day:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.flatpickr-day:not(.endRange):not(.startRange):not(.flatpickr-disabled):hover,
.flatpickr-day:not(.endRange):not(.startRange):not(.flatpickr-disabled):focus {
    text-decoration: underline;
}

.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus {
    box-shadow: var(--shadow-hover);
}




