/* root styles 
*/
.counter {
    height: 30px;
    display: grid;
    grid-template-columns: 
        auto 1fr 30px 32px 30px;
    grid-template-areas: 
        'label . decrement counter increment';
    align-items: center;
}

/* __label styles
*/
.counter__label {
    grid-area: label;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}

/* __increment/__decrement styles
*/
.counter__decrement-container,
.counter__increment-container {
    width: 30px; height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.counter__decrement-container {
    grid-area: decrement;
}
.counter__increment-container {
    grid-area: increment;
}

/* __input styles
*/
.counter__input {
    grid-area: counter;
    text-align: center;
    pointer-events: none;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
}
.counter__input::-webkit-outer-spin-button,
.counter__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}