/* expandable checkbox list */

/* button */

.expandable-checkbox-list__button {
    width: min(100%, 320px);
    height: 44px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:focus {
        outline: var(--outline);
        outline-offset: 1px;
    }
}

/* label */

.expandable-checkbox-list__label {
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}
/* icon */

.expandable-checkbox-list__icon {
    font: var(--icon-font);
    font-size: 1.71428571429rem;
    color: var(--dark-shade-50per);
    transition: transform .2s;
}

.expandable-checkbox-list_expanded .expandable-checkbox-list__icon {
    color: var(--dark-shade-75per);
}

.expandable-checkbox-list__button {
    &:hover .expandable-checkbox-list__icon {
        color: var(--dark-shade-75per);
    }

    &:active .expandable-checkbox-list__icon {
        transform:  translateY(5px);
        transition: transform .2s;
    }
}

/* expand container */

.expandable-checkbox-list__expand-container {
    padding-top: 4px;
    opacity: 0;          
    max-height: 0;       
    visibility: hidden;
    transition: visibility step-end .6s, opacity .6s, max-height .6s;
}

 .expandable-checkbox-list_expanded .expandable-checkbox-list__expand-container {
    max-height: 1000px;
    opacity: 1;  
    visibility: visible;
    transition: opacity .6s, max-height .6s;
}