include ../icon/icon

mixin like({ count, active=false })
    button.like.js-like(
        data-active=active
        )
        span.like__icon
            +icon()
        span.like__count.js-like__count #{count}