mixin like({ count, label, active=false })
    button(
        class = 'like js-like'
        data-active = active
        aria-label = label
    )
        p(
            class = 'like__icon js-like__icon'
            aria-hidden = 'true'
        )
        p(
            class = 'like__count js-like__count'
            aria-hidden = 'true'
        ) #{count}