mixin like({ count, active=false })
    button(
        class = 'like js-like'
        data-active = active
    )
        span(class = 'like__icon js-like__icon')
        span(class = 'like__count js-like__count') #{count}