/* like */

.like {
    width: 41px; 
    height: 20px;
    display: flex;
    align-items: center;
    background: none;
    border: var(--border-1);
    border-radius: 10px;
    cursor: pointer;

    &:focus {
        outline: var(--outline);
        outline-offset: 1px;
    }

    &:hover:not(:disabled) {
        box-shadow: var(--shadow-hover);
    }
}

.like_active {
    border-color: var(--purple-100per);
}

/* count */

.like__count {
    font: var(--body-font);
    font-size: 10px;
    line-height: 12px;
    color: var(--dark-shade-25per);
}

/* icon */

.like__icon {
    width: 20px;
    font: var(--icon-font);
    font-size: 10px;
    color: var(--dark-shade-25per);
}

.like_active { 
    & .like__icon, & .like__count {
        color: var(--purple-100per);
    }
}