/* root styles */

.form-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 320px));
    gap: 99px;
    justify-content: center;
}

.form-elements__group {
    display: grid;
    grid-auto-rows: max-content;
    gap: 20px;
}

.form-elements__filter-dropdown, 
.form-elements__filter-date-dropdown,
.form-elements__subscribtion-text-field,
.form-elements__expandable-checkbox-list,
.form-elements__rich-checkbox-buttons,
.form-elements__range {
    width: min(100%, 266px);
}

.form-elements__bullet-list,
.form-elements__rate-buttons,
.form-elements__toggle {
    width: min(100%, 260px);
}

.form-elements__checkbox-buttons {
    width: min(100%, 222px);
}

.form-elements__buttons {
    width: min(100%, 218px)
}

.form-elements__toggle-bar {
    display: grid;
    gap: 10px;
}

.form-elements__rate-buttons-bar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 20px;
}

.form-elements__like-bar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 10px;
}

.form-elements__buttons-column {
    display: grid;
    gap: 30px;
}
.form-elements__buttons-bar {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 20px;
}
.form-elements__buttons-bar:not(:last-child) {
    grid-auto-rows: 44px;
}
.form-elements__buttons-bar:last-child {
    grid-auto-columns: max-content;
}
.form-elements__submit-button {
    height: 44px;
}