/* root styles */

.form-elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 320px));
    gap: 99px;
    justify-content: center;
}

.form-elements__group {
    display: grid;
    grid-auto-rows: max-content;
    gap: 20px;
}

.form-elements__filter-dropdown, 
.form-elements__filter-datepicker,
.form-elements__expandable-checkbox-list {
    width: min(100%, 266px);
}

.form-elements__checkbox-buttons {
    width: min(100%, 222px); height: min-content;
}

