extends ../../components/ui-kit-layout/ui-kit-layout

include ../../components/label-wrapper/label-wrapper
include ../../components/text-field/text-field
include ../../components/dropdown/dropdown

block title
    | Form elements

block content
    main.form-elements
        div.form-elements__group-1
            div.form-elements__text-field
                +label-wrapper({label: 'text field'})
                    +text-field({label: 'text field', name: 'text-field', placeholder: 'Email'})
            div.form-elements__text-field
                +label-wrapper({label: 'text field'})
                    +text-field({label: 'text field', name: 'text-field', placeholder: 'text field', value: 'This is pretty awesome'})
            div.form-elements__dropdown
                +label-wrapper({label: 'dropdown'})
                    +dropdown({label: 'dropdown', name: 'dropdown', placeholder: 'Сколько гостей'})
                        
        