extends ../../components/ui-kit-layout/ui-kit-layout

include ../../components/label-wrapper/label-wrapper
include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/quantity-dropdown/quantity-dropdown
include ../../components/date-dropdown/date-dropdown

block title
    | Form elements

block content
    main.form-elements
        div.form-elements__group-1
            div.form-elements__text-field
                +text-field({ label: 'text field', name: 'text-field', type: 'email', placeholder: 'Email' })
            div.form-elements__text-field
                +text-field({ label: 'text field',name: 'text-field', placeholder: 'This is pretty awesome', autofocus: 'true' })
            div.form-elements__dropdown
                +quantity-dropdown({ label: 'dropdown', name: 'guests', placeholder: 'Сколько гостей', mode: 'manualApply' })
                    li.counter-bar__list-item
                        +counter({ label: 'взрослые', name: 'adults', minValue: '0', maxValue: '5', plural: { one: 'гость', few: 'гостя', many: 'гостей' }, isBound: 'true', boundName: 'guests' })
                    li.counter-bar__list-item
                        +counter({ label: 'дети', name: 'kids', minValue: '0', maxValue: '5', plural: { one: 'гость', few: 'гостя', many: 'гостей' }, isBound: 'true', boundName: 'guests' })
                    li.counter-bar__list-item
                        +counter({ label: 'младенцы', name: 'babies', minValue: '0', maxValue: '5', plural: { one: 'младенец', few: 'младенцев', many: 'младенцев' } })   
            div.form-elements__text-field
                +text-field({  label: 'masked text field', name: 'text-field', placeholder: 'дд.мм.гггг', mask: 'date' })
            div.form-elements__double-gap
            div.form-elements__date-dropdown
                +date-dropdown({ labelFrom: 'date dropdown', labelTo: 'date dropdown', theme: 'twin' })
            div.form-elements__double-gap
            div.form-elements__filter-date-dropdown
                +date-dropdown({ label: 'filter date dropdown', theme: 'single' })