.form-elements {
    display: grid;
    gap: 100px;
}

.form-elements__group-1 {
    width: min(100%, 320px);
    display: grid;
    gap: 20px;
}

.form-elements__group-2 {
    width: min(100%, 320px);
    display: grid;
    gap: 20px;
}

.form-elements__filter-dropdown, .form-elements__filter-datepicker {
    width: min(100%, 266px);
}

