extends ../../components/ui-kit/ui-kit

include ../../components/form-elements/form-elements

block title
    | Form elements

block main

    -const formElements = require('./../../globals/mocks/form-elements.json');

    +form-elements({ formElements })  