extends ../../components/ui-kit-layout/ui-kit-layout

include ../../components/label-wrapper/label-wrapper
include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/quantity-dropdown/quantity-dropdown

block title
    | Form elements

block content
    main.form-elements
        div.form-elements__group-1
            div.form-elements__text-field
                +label-wrapper({label: 'text field'})
                    +text-field({name: 'text-field', type: 'email', placeholder: 'Email'})
            div.form-elements__text-field
                +label-wrapper({label: 'text field'})
                    +text-field({name: 'text-field', placeholder: 'This is pretty awesome', autofocus: 'true'})
            div.form-elements__dropdown
                +label-wrapper({label: 'dropdown'})
                    +quantity-dropdown({name: 'guests', placeholder: 'Сколько гостей', mode: 'manualApply'})
                        +counter({label: 'взрослые', name: 'adults', minValue: '0', maxValue: '5', defaultValue: '5', plural: {one: 'гость', few: 'гостя', many: 'гостей'}, isBound: 'true', boundName: 'guests'})
                        +counter({label: 'дети', name: 'kids', minValue: '0', maxValue: '5', defaultValue: '2', plural: {one: 'гость', few: 'гостя', many: 'гостей'}, isBound: 'true', boundName: 'guests'})
                        +counter({label: 'младенцы', name: 'babies', minValue: '0', maxValue: '5', plural: {one: 'младенец', few: 'младенцев', many: 'младенцев'}})   
            div.form-elements__text-field
                +label-wrapper({label: 'masked text field'})
                    +text-field({label: 'text field', name: 'text-field', placeholder: 'дд.мм.гггг', mask: 'date'})
        