extends ../../components/ui-kit-layout/ui-kit-layout

include ../../components/label-wrapper/label-wrapper
include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/quantity-dropdown/quantity-dropdown
include ../../components/date-dropdown/date-dropdown
include ../../components/subscribtion-field/subscribtion-field
include ../../components/expander/expander
include ../../components/list/list
include ../../components/radio-bar/radio-bar
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rate-bar/rate-bar
include ../../components/range/range
include ../../components/button/button
include ../../components/pagination/pagination

block title
    | Form elements

block content
    main.form-elements    
        div.form-elements__group
            div.form-elements__text-field
                +text-field({   
                    label: 'text field', 
                    name: 'text-field', 
                    type: 'email', 
                    placeholder: 'Email' 
                })
            div.form-elements__text-field
                +text-field({ 
                    label: 'text field',
                    name: 'text-field', 
                    placeholder: 'This is pretty awesome', 
                    autofocus: 'true' 
                })
            div.form-elements__dropdown
                +quantity-dropdown({ 
                    label: 'dropdown', 
                    name: 'guests', 
                    placeholder: 'Сколько гостей', 
                    mode: 'manualApply', 
                    disabled: 'true',
                    counter: [
                        { 
                            label: 'взрослые', 
                            name: 'adults', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'гость', 
                                few: 'гостя', 
                                many: 'гостей' 
                            }, 
                            isBound: 'true', 
                            boundName: 'guests' 
                        },
                        { 
                            label: 'дети', 
                            name: 'kids', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'гость', 
                                few: 'гостя', 
                                many: 'гостей' 
                            }, 
                            isBound: 'true', 
                            boundName: 'guests'
                        },
                        { 
                            label: 'младенцы', 
                            name: 'babies', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'младенец', 
                                few: 'младенцев', 
                                many: 'младенцев' 
                            } 
                        }
                    ] 
                })
            div.form-elements__text-field
                +text-field({  
                    label: 'masked text field', 
                    name: 'text-field', 
                    placeholder: 'дд.мм.гггг', 
                    mask: 'date' 
                })
            div.form-elements__date-dropdown
                +date-dropdown({ 
                    labelFrom: 'date dropdown', 
                    labelTo: 'date dropdown', 
                    theme: 'twin', 
                    disabled: 'true' 
                })
            div.double-gap
            div.form-elements__filter-date-dropdown
                +date-dropdown({ 
                    label: 'filter date dropdown', 
                    theme: 'single', 
                    disabled: 'true' 
                })
            div.form-elements__subscribtion-text-field
                +subscribtion-field({ 
                    label: 'subscribtion field' 
                })

        div.form-elements__group
            div.form-elements__checkbox-buttons
                +list({ 
                    label: 'checkbox buttons', 
                    checkbox: [ 
                        { 
                            name: 'smoke', 
                            label: 'Можно курить' 
                        },
                        { 
                            name: 'pet', 
                            label: 'Можно с питомцами', 
                            checked: 'true' 
                        },
                        { 
                            name: 'guests', 
                            label: 'Можно пригласить гостей (до 10 человек)', 
                            checked: 'true'
                        } 
                    ] 
                })
            div.form-elements__radio-buttons
                +label-wrapper({
                    label: 'radio buttons'
                })
                    +radio-bar({
                        radio: [
                            {
                                name: 'gender', 
                                value: 'male', 
                                label: 'Мужчина', 
                                checked: 'true'
                            },
                            {
                                name: 'gender', 
                                value: 'female', 
                                label: 'Женщина',
                            },
                        ]
                    })
            div.form-elements__toggle
                +label-wrapper({
                    label: 'toggle'
                })
                    div.form-elements__toggle-bar
                        +toggle({
                            name: 'special',
                            label: 'Получать спецпредложения',
                            checked: 'true'
                        })
                        +toggle({
                            name: 'special',
                            label: 'Получать спецпредложения'
                        })
            div.form-elements__like-button
                +label-wrapper({
                    label: 'like button'
                })
                    div.form-elements__like-bar
                        +like({
                            count: '2',
                        })
                        +like({
                            count: '12',
                            active: 'true'
                        })
            div.form-elements__rate-buttons
                +label-wrapper({
                    label: 'rate buttons'
                })
                    div.form-elements__rate-buttons-bar
                        +rate-bar({
                            rate: [
                                {
                                    name: 'test-1',
                                    value: '1'
                                },
                                {
                                    name: 'test-1',
                                    value: '2'
                                },
                                {
                                    name: 'test-1',
                                    value: '3'
                                },
                                {
                                    name: 'test-1',
                                    value: '4'
                                },
                                {
                                    name: 'test-1',
                                    value: '5',
                                    checked: 'true'
                                }
                            ]
                        })
                        +rate-bar({
                            rate: [
                                {
                                    name: 'test-2',
                                    value: '1'
                                },
                                {
                                    name: 'test-2',
                                    value: '2'
                                },
                                {
                                    name: 'test-2',
                                    value: '3',
                                    checked: 'true'
                                },
                                {
                                    name: 'test-2',
                                    value: '4'
                                },
                                {
                                    name: 'test-2',
                                    value: '5',
                                }
                            ]
                        })
        div.form-elements__group
            div.form-elements__range
                +range({ 
                    label: 'range slider', 
                    valueRange: { 
                        minValue: '1000', 
                        maxValue: '17000' 
                    }, 
                    defaultValueRange: { 
                        minValue: '5000', 
                        maxValue: '10000' 
                    }, 
                    step: '500', 
                    margin: '1000'
                })
            div.form-elements__buttons
                +label-wrapper({
                    label: 'buttons'
                })
                    div.form-elements__buttons-column
                        div.form-elements__buttons-bar
                            +button({
                                label: 'click me'
                            })
                            +button({
                                label: 'click me',
                                disabled: 'true'
                            })
                        div.form-elements__buttons-bar
                            +button({
                                label: 'click me',
                                theme: 'shaped'
                            })
                            +button({
                                label: 'click me',
                                theme: 'shaped',
                                disabled: 'true'
                            })
                        div.form-elements__buttons-bar
                            +button({
                                label: 'click me',
                                theme: 'hollow'
                            })
                            +button({
                                label: 'click me',
                                theme: 'hollow',
                                disabled: 'true'
                            })
            div.form-elements__submit-button
                +button({
                    label: 'перейти к оплате',
                    icon: 'arrow_forward'
                })
            div.form-elements__pagination
                +label-wrapper({
                    label: 'pagination'
                })
                    +pagination({
                        pages: [
                            '1',
                            '2',
                            '3',
                            '4',
                            '5',
                            '6',
                            '7',
                            '8',
                            '9',
                            '10',
                            '11',
                            '12',
                            '13',
                            '14',
                            '15',
                        ],
                        active: '1',
                        description: '1 – 12 из 100+ вариантов аренды '
                    })
        div.form-elements__group
                div.form-elements__filter-dropdown
                    +quantity-dropdown({ 
                        label: 'dropdown', 
                        name: 'guests', 
                        placeholder: 'Сколько комнат', 
                        mode: 'autoApply', 
                        disabled: 'true',
                        counter: [
                            { 
                                label: 'спальни', 
                                name: 'bedrooms', 
                                minValue: '0', 
                                maxValue: '5', 
                                plural: { 
                                    one: 'спальня', 
                                    few: 'спальни', 
                                    many: 'спален' 
                                } 
                            },
                            { 
                                label: 'кровати', 
                                name: 'beds', 
                                minValue: '0', 
                                maxValue: '5', 
                                plural: { 
                                    one: 'кровать', 
                                    few: 'кровати', 
                                    many: 'кроватей' 
                                } 
                            },
                            { 
                                label: 'ванные комнаты', 
                                name: 'bathroom', 
                                minValue: '0',
                                maxValue: '5', 
                                plural: { 
                                    one: 'ванная комната', 
                                    few: 'ванные комнаты', 
                                    many: 'ванных комнат' 
                                }
                            }
                        ]
                    })
                div.form-elements__filter-dropdown
                    +quantity-dropdown({ 
                        label: 'dropdown', 
                        name: 'guests', 
                        placeholder: 'Сколько комнат', 
                        mode: 'autoApply', 
                        show: 'true', 
                        disabled: 'true',
                        counter: [
                            { 
                                label: 'спальни', 
                                name: 'bedrooms', 
                                minValue: '0', 
                                maxValue: '5', 
                                defaultValue: '2', 
                                plural: { 
                                    one: 'спальня', 
                                    few: 'спальни', 
                                    many: 'спален' 
                                } 
                            },
                            { 
                                label: 'кровати', 
                                name: 'beds', 
                                minValue: '0', 
                                maxValue: '5', 
                                defaultValue: '2', 
                                plural: { 
                                    one: 'кровать', 
                                    few: 'кровати', 
                                    many: 'кроватей'
                                }
                            },
                            { 
                                label: 'ванные комнаты', 
                                name: 'bathroom', 
                                minValue: '0', 
                                maxValue: '5', 
                                plural: { 
                                    one: 'ванная комната', 
                                    few: 'ванные комнаты', 
                                    many: 'ванных комнат' 
                                }
                            }
                        ]
                    })
                div.form-elements__expandable-checkbox-list
                    +expander({ 
                        label: 'expandable checkbox list',
                    })
                        +list({
                            checkbox: [
                                { 
                                    name: 'breakfast', 
                                    label: 'Завтрак' 
                                }, 
                                { 
                                    name: 'desk', 
                                    label: 'Письменный стол' 
                                }, 
                                { 
                                    name: 'feedingChair', 
                                    label: 'Стул для кормления' 
                                }, 
                                { 
                                    name: 'crib', 
                                    label: 'Кроватка' 
                                },
                                { 
                                    name: 'tv', 
                                    label: 'Телевизор' 
                                },
                                { 
                                    name: 'schampoo', 
                                    label: 'Шампунь'
                                }
                            ]
                        })
                div.form-elements__expandable-checkbox-list
                    +expander({
                        label: 'expandable checkbox list', 
                        expand: 'true',
                    })
                        +list({
                            checkbox: [
                                { 
                                    name: 'breakfast', 
                                    label: 'Завтрак' 
                                }, 
                                { 
                                    name: 'desk', 
                                    label: 'Письменный стол', 
                                    checked: 'true' 
                                }, 
                                { 
                                    name: 'feedingChair', 
                                    label: 'Стул для кормления', 
                                    checked: 'true' 
                                }, 
                                { 
                                    name: 'crib', 
                                    label: 'Кроватка' 
                                },
                                { 
                                    name: 'tv', 
                                    label: 'Телевизор' 
                                },
                                { 
                                    name: 'schampoo', 
                                    label: 'Шампунь' 
                                }
                            ]          
                        })

        div.form-elements__group
            div.form-elements__dropdown
                +quantity-dropdown({ 
                    label: 'dropdown', 
                    name: 'guests', 
                    placeholder: 'Сколько гостей', 
                    mode: 'manualApply', 
                    show: 'true', 
                    disabled: 'true',
                    counter: [
                        { 
                            label: 'взрослые', 
                            name: 'adults', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'гость', 
                                few: 'гостя', 
                                many: 'гостей' 
                            }, 
                            isBound: 'true', 
                            boundName: 'guests' 
                        },
                        { 
                            label: 'дети', 
                            name: 'kids', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'гость', 
                                few: 'гостя', 
                                many: 'гостей' 
                            }, 
                            isBound: 'true', 
                            boundName: 'guests' 
                        },
                        { 
                            label: 'младенцы', 
                            name: 'babies', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'младенец', 
                                few: 'младенцев', 
                                many: 'младенцев' 
                            } 
                        }
                    ],
                })
            div.form-elements__rich-checkbox-buttons
                +list({ 
                    label: 'rich checkbox buttons',
                    checkbox: [
                        { 
                            name: 'smoke', 
                            label: 'Широкий коридор', 
                            describtion: 'Ширина коридоров в номере не менее 91 см.', 
                            theme: 'rich' 
                        },
                        { 
                            name: 'pet', 
                            label: 'Помощник для инвалидов', 
                            describtion: 'На 1 этаже вас встретит специалист и проводит до номера.', 
                            theme: 'rich' 
                        }
                    ]
                })  

        div.form-elements__group
            div.form-elements__dropdown
                +quantity-dropdown({ 
                    label: 'dropdown', 
                    name: 'guests', 
                    placeholder: 'Сколько гостей', 
                    mode: 'manualApply', 
                    show: 'true', 
                    disabled: 'true',
                    counter: [
                        { 
                            label: 'взрослые', 
                            name: 'adults', 
                            defaultValue: '2', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'гость', 
                                few: 'гостя', 
                                many: 'гостей' 
                            }, 
                            isBound: 'true', 
                            boundName: 'guests' 
                        },
                        { 
                            label: 'дети', 
                            name: 'kids', 
                            defaultValue: '1', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'гость', 
                                few: 'гостя', 
                                many: 'гостей' 
                            }, 
                            isBound: 'true', 
                            boundName: 'guests' 
                        },
                        { 
                            label: 'младенцы', 
                            name: 'babies', 
                            minValue: '0', 
                            maxValue: '5', 
                            plural: { 
                                one: 'младенец', 
                                few: 'младенцев', 
                                many: 'младенцев' 
                            } 
                        }
                    ],
                })
            div.form-elements__bullet-list
                +list({ 
                    label: 'bullet list', 
                    theme: 'bullet',
                    text: [
                        'Нельзя с питомцами',
                        'Без вечеринок и мероприятий',
                        'Время прибытия — после 13:00, а выезд до 12:00'
                    ]        
                }) 