include ../text-field/text-field

mixin subscribtion-field(showLabel, lang)
    -
        const i18n = require('../../components/subscribtion-field/i18n.json'); 

        const {
            SUBSCRIBTION,
            SUBSCRIBE,
            ENTER_EMAIL
        } = i18n[lang];

    form(
        class = 'subscribtion-field'
        name = 'subsribtion'
    )
        +text-field({ 
            label: showLabel ? SUBSCRIBTION : false,
            type: 'email', 
            placeholder: 'Email',
            required: true,
            title: ENTER_EMAIL,
            ariaLabel: showLabel ? false : SUBSCRIBTION,
            button: {
                ariaLabel: SUBSCRIBE,
                title: SUBSCRIBE
            },
            icon: {
                text: 'arrow_forward',
                activeClass: 'subscribtion-field__icon'
            }
        })