include ../text-field/text-field

mixin subscribtion-field({ label })
    form(class = 'subscribtion-field')
        +text-field({ 
            label, 
            input: {
                type: 'email', 
                placeholder: 'Email',
                required: 'true'
            },
            button: {
                type: 'submit',
                icon: {
                    text: 'arrow_forward',
                    activityClass: 'subscribtion-field__icon'
                }
            }
        })