include ../text-field/text-field

mixin subscribtion-field({ textField })
    form(class = 'subscribtion-field')
        +text-field({ 
            label: textField.label, 
            input: {
                type: 'email', 
                placeholder: 'Email',
                required: 'true',
                title: textField.title
            },
            button: {
                label: textField.button.label
            },
            icon: {
                text: 'arrow_forward',
                activeClass: 'subscribtion-field__icon'
            }
        })