include ../text-field/text-field

mixin subscribtion-field({ label })
    form.subscribtion-field
        div.subscribtion-field__input
            +text-field({ 
                label, 
                type: 'email', 
                placeholder: 'Email', 
                theme: 'icon-button', 
                required: 'true',
                button: {
                    type: 'submit',
                    icon: {
                        text: 'arrow_forward',
                        wrapperClass: 'subscribtion-field__icon'
                    }
                }
            })
                button.text-field__button(type='submit')
                    span.text-field__icon
                        span.subscribtion-field__icon
                            +icon() arrow_forward