include ../text-field/text-field

mixin subscribtion-field({ label })
    form(class = 'subscribtion-field')
        +text-field({ 
            label, 
            input: {
                type: 'email', 
                placeholder: 'Email',
                required: 'true'
            },
            button: {
                label: 'subscribe',
                type: 'submit',
                icon: 'arrow_forward'
            }
        })