include ../text-field/text-field
include ../icon/icon

mixin subscribtion-field({ label })
    form.subscribtion-field
        div.subscribtion-field__input
            +text-field({ label, type: 'email', placeholder: 'Email', theme: 'subscribtion', required: 'true' })
                div.text-field__icon
                    button.subscribtion-field__button( 
                        type='submit' 
                        )
                        +icon() arrow_forward