/* root styles */

.rate {
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.rate::before {
    content: 'star';
    font: 24px Material Icons;
    line-height: 20px;
    background: var(--purple-gradient);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    cursor: pointer;
}

.rate:hover .rate::before {
    content: 'star';
}

.rate:checked ~ .rate::before {
    content: 'star_border';   
}