/* rate */

.rate {
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.rate:disabled {
    pointer-events: none;
}

.rate:focus {
    outline: none;
}

.rate::before {
    content: 'star';
    font: var(--icon-font);
    font-size: 24px;
    line-height: 20px;
    background: var(--purple-gradient);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    cursor: pointer;
}

.rate:hover::before {
    box-shadow: var(--shadow-hover);
}

.rate:checked ~ .rate::before {
    content: 'star_border';   
}

.rate:focus::before {
    outline: var(--outline);
    outline-offset: 1px;
}