mixin rate({ label, name, value, checked=false, disabled=false })
    input.rate(
        class = 'rate'
        type = 'radio'
        name = name
        value = value
        checked = checked
        disabled = disabled
        aria-label = label
    )