/* root styles
*/
.label-wrapper {
    display: grid;
    gap: 16px;
}

/* __label styles
*/
.label-wrapper__label {
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}