.label-wrapper {
    display: grid;
    gap: 10px;
}

.label-wrapper__heading {
    margin-bottom: 6px;
}

.label-wrapper__horizontal-block {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 10px;
}