extends ../../globals/template

include ../../components/layout/layout
include ../../components/registration/registration

block variables
    -
        const page = require('../../globals/mocks/registration-page.en.json');

        const { 
            lang,
            title,
            description,
            bgImage 
        } = page;

block heading
    | #{page.heading}
    
block content
    +layout(lang)
        +registration(bgImage, lang)