/* registration page */

.registration-page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    background-color: var(--dark-shade-5per);
}

/* content */

.registration-page__content {
    position: relative;
    padding: 19px 0;
    width: min(90vw, 1159px);
    grid-column: 2;
    display: flex;
    justify-content: center;
}

/* background image */

.registration-page__background {
    position: absolute;
    width: 100vw;
    z-index: -1;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.registration-page__picture {
    display: grid;
}

.registration-page__image {
    position: relative;
}