extends ../template/template

include ../logo/logo

block title
    block title
block style
    block style

block content
    body(class = 'ui-kit')
        header(class = 'ui-kit__header')
            nav(class = 'ui-kit__navigation')
                a( 
                    class = 'ui-kit__link'
                    href = 'start-page.html' 
                    title = 'Перейти на стартовую страницу'
                    aria-label = 'Перейти на стартовую страницу'
                )
                    +logo({
                        theme: 'ui-kit' 
                    })

        main(class = 'ui-kit__main')
            block main