/* start-menu */

.start-menu {
    height: 100vh;
    display: grid;
    align-content: center;
}

/* list */

.start-menu__list {
    display: grid;
    row-gap: 20px; 
    list-style: none;
}

/* list-item styles */

.start-menu__list-item {
    text-align: center;
}

.start-menu__list-item_heading {
    font: var(--h1-font);
    color: var(--dark-shade-100per);
    text-align: center;
}

.start-menu__list-item:last-child {
    margin-top: 20px;
}

/* link styles */

.start-menu__link {
    font: var(--body-font);
    font-size: 1.5rem;
    color: var(--dark-shade-75per);
}

.start-menu__link:hover {
    text-decoration: underline;
}

.start-menu__link:active {
    color: var(--purple-100per);
}

.start-menu__link:focus {
    outline: var(--outline);
    outline-offset: 1px;    
}