include ../logo/logo

mixin start-menu({ items })
    div(class = 'start-menu')
        ul(class = 'start-menu__list')
            li(class = 'start-menu__list-item start-menu__list-item_heading') Toxin UI Kit

            each item in items
                li(class = 'start-menu__list-item')
                    a(
                        class = 'start-menu__link'
                        href = item.href 
                        title = item.title
                    ) #{item.text}
            
            li(class = 'start-menu__list-item')
                a(
                    class = 'start-menu__logo-link' 
                    href = 'landing-page.html'
                    title = 'Перейти на главную страницу'
                )
                    +logo()