/* button */

.expandable-list__button {
    width: 100%; height: 44px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.expandable-list__button:focus {
    outline: var(--outline);
    outline-offset: 1px;
}

/* label */

.expandable-list__label {
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}
/* icon */

.expandable-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;   
    font: var(--icon-font);
    font-size: 24px; 
    color: var(--dark-shade-50per);
    transform: rotate(0);
    transition: transform .6s;
}   

.expandable-list__button:hover .expandable-list__icon {
    color: var(--dark-shade-75per);
}

.expandable-list_is_expanded .expandable-list__icon {
    transform: rotate(180deg);
    transition: transform .6s;
}

/* viewport */

.expandable-list__viewport {
    opacity: 0;          
    max-height: 0;       
    visibility: hidden;
    transition: visibility step-end .6s, opacity .6s, max-height .6s;
 }   

 .expandable-list_expanded .expandable-list__viewport {
    max-height: 1000px;
    opacity: 1;  
    visibility: visible;
    transition: opacity .6s, max-height .6s;
}

/* container */

.expandable-list__container {
    padding-top: 4px;
}
