/* cards */

.cards {
    display: grid;
    gap: 40px;
    justify-content: center;
}

@media (min-width: 1292px) {
    .cards {
        grid-template-columns: min(100%, 380px) min(100%, 380px) 320px;
    }
}

@media (max-width: 1292px) and (min-width: 890px) {
    .cards {
        grid-template-columns: min(100%, 380px) min(100%, 380px);
        align-items: center;
    }
}

@media (max-width: 890px) {
    .cards {
        grid-template-columns: min(100%, 380px);
    }
}

/* column */

.cards__column {
    display: grid;
    grid-auto-rows: max-content;
    gap: 40px;
}

@media (max-width: 1292px) and (min-width: 890px) {
    .cards__column:last-child {
        justify-self: center;
        grid-column: span 2;
        grid-template-rows: max-content max-content;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        align-items: center;
    }
}

@media (max-width: 890px) {
    .cards__column:last-child {
        justify-content: center;
    }
}

/* datepicker */ 

@media (max-width: 1292px) and (min-width: 890px) {
    .cards__datepicker {
        grid-row: span 2;
    }
}
