/* cards */

.cards {
    width: min(90vw, 1159px);
    display: grid;
    gap: 40px;
    justify-content: center;
}

@media (min-width: 1292px) {
    .cards {
        grid-template-columns: min(100%, 380px) min(100%, 380px) min-content;
    }
}

@media (max-width: 1292px) and (min-width: 890px) {
    .cards {
        grid-template-columns: min(100%, 380px) min(100%, 380px);
    }
}

@media (max-width: 890px) {
    .cards {
        grid-template-columns: min(100%, 380px);
    }
}

/* column */

.cards__column {
    display: grid;
    grid-auto-rows: max-content;
    gap: 40px;
}

@media (max-width: 1292px) and (min-width: 890px) {
    .cards__column:last-child {
        grid-column: span 2;
        grid-template-rows: max-content max-content;
        grid-auto-flow: column;
    }
}

/* datepicker */ 

.cards__room-card {
    width: min-content
}


