include ../form-search/form-search
include ../form-booking/form-booking
include ../form-registration/form-registration
include ../form-login/form-login
include ../room-card/room-card

mixin cards({ cards, rooms })
    div(class = 'cards')
        div(class = 'cards__column')
            +form-search(cards.formSearch)
            +form-registration(cards.formRegistration)
        div(class = 'cards__column')
            +form-booking({ formBooking: cards.formBooking, room: rooms[0]})
            +form-login(cards.formLogin)
        div(class = 'cards__column')
            each item in rooms
                div(class = 'cards__room-card')
                    +room-card({ 
                        roomCard: cards.roomCard,
                        room: item
                     })