include ../checkbox/checkbox

mixin checkbox-list(checkboxList, id)
    ul(
        class = 'checkbox-list'
        id = id ? id : false
    )
        each item in checkboxList
            li(class = 'checkbox-list__item')
                +checkbox(item)