include ../header/header
include ../footer/footer

mixin layout(lang, auth, user)
    -
        const layout = require('../../globals/mocks/layout.json')[lang];

        const {
            header,
            footer
        } = layout;

    +header(header, lang, auth, user)

    if block
        block
    
    +footer(footer, lang)