include ../header/header
include ../footer/footer

mixin layout({ heading, header, footer, user, slideshow })
    body(class = 'page')
        if heading
            h1(class = 'page__heading') #{heading}

        +header({ header, user })  

        if block
            block
        
        +footer(footer)