/* menu */

.menu {
    position: relative;
}

/* button */

.menu__button {
    display: flex;
    cursor: pointer;
}

.menu__button:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

/* label */

.menu__label {
    font: var(--body-font);
    color: var(--dark-shade-50per);
}

.menu_expanded .menu__label,
.menu__button:hover .menu__label,
.menu__button:focus .menu__label {
    color: var(--dark-shade-75per);
}

/* icon */

.menu__icon {
    font: var(--icon-font);
    font-size: 24px;
    color: var(--dark-shade-50per);
}

.menu_expanded .menu__icon,
.menu__button:hover .menu__icon,
.menu__button:focus .menu__icon {
    color: var(--dark-shade-75per);
}

@media (max-width: 879px) {
    .menu__icon {
        transform: rotate(-90deg);
    }
}

/* container */ 

.menu__containter {
    position: absolute;
    z-index: -5;
    width: min(40vw, 150px);
    padding: min(2vw, 15px) min(2vw, 15px) min(2vw, 15px) min(2vw, 15px);
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: start;
    border: var(--border);
    border-radius: 4px;
    box-shadow: var(--shadow);
    background-color: white;
    list-style: none;
    visibility: collapse;
    opacity: 0;
    transform: scale(0);
    transition: opacity .1s, transform .3s, z-index step-end .3s, visibility step-end 0.3s;
}

.menu_expanded .menu__containter {
    z-index: 5;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s, transform .3s;
}

.menu__containter::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.menu__containter::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
}

@media (min-width: 879px) {
    .menu__containter {
        right: -15px;
        top: 35px;
    }

    .menu__containter::after {
        right: 16px;
        top: -11px;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent var(--dark-shade-25per) transparent;
    }

    .menu__containter::before {
        right: 16px;
        top: -9px;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent white transparent;
    }
}


@media (max-width: 880px) {
    .menu__containter {
        left: 110%;
        top: -15px;
    }

    .menu__containter::after {
        left: -11px;
        top: 16px;
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--dark-shade-25per) transparent  transparent;
    }

    .menu__containter::before {
        left: -9px;
        top: 16px;
        border-width: 10px 10px 10px 0;
        border-color: transparent white  transparent  transparent;
    }
}
    

/* link */

.menu__link {
    font: var(--body-font);
    color: var(--dark-shade-50per);
}

.menu__link:focus {
    outline: var(--outline);
    outline-offset: 4px;
}

.menu__link:hover {
    color: var(--dark-shade-75per);
    text-decoration: underline;
}