/* menu */

.menu {
    position: relative;
    width: max-content;
    height: 2.42857142857rem;
    display: flex;
    align-items: center;
    
    &.menu_expanded {
        z-index: 5;
    }
}

/* button */

.menu__button {
    display: flex;
    cursor: pointer;

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }
}

/* label */

.menu__label {
    font: var(--body-font);
    color: var(--dark-shade-50per);
}

.menu__button {
    &:hover, &:focus {
        & .menu__label {
            color: var(--dark-shade-75per);
        }
    }
}

.menu_expanded .menu__label {
    color: var(--dark-shade-75per);
}

/* icon */

.menu__icon {
    font: var(--icon-font);
    font-size: 1.71428571429rem;
    color: var(--dark-shade-50per);
    transition: transform .2s;
}

.menu__button {
    &:hover, &:focus {
        & .menu__icon {
            color: var(--dark-shade-75per);
        }
    }

    &:active {      
        & .menu__icon {      
            transform:  translateY(0.35714285714rem);
            transition: transform .2s;
        }
    }
}

.menu_expanded .menu__icon {
    color: var(--dark-shade-75per);
}

/* container */ 

.menu__containter {
    position: absolute;
    min-width: 10.7142857143rem;
    padding: 1.07142857143rem;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: start;
    border: var(--border-1);
    border-radius: 0.28571428571rem;
    box-shadow: var(--shadow-1);
    background-color: white;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .1s, transform .3s, z-index step-end .3s, visibility step-end 0.3s;

    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
    }
}

.menu_expanded .menu__containter {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s, transform .3s;
}

@media (width < 880px) {
    .menu__containter {
        left: 110%;
        top: -1.07142857143rem;

        &:after {
            left: -0.78571428571rem;
            top: 1.14285714286rem;
            border-width: 0.71428571428rem 0.71428571428rem 0.71428571428rem 0;
            border-color: transparent var(--dark-shade-25per) transparent  transparent;
        }

        &:before {
            left: -0.64285714285rem;
            top: 1.14285714286rem;
            border-width: 0.71428571428rem 0.71428571428rem 0.71428571428rem 0;
            border-color: transparent white  transparent  transparent;
        }
    }
}

@media (width >= 880px) {
    .menu__containter {
        right: -1.07142857143rem;
        top: 2.5rem;

        &:after {
            right: 1.14285714286rem;
            top: -0.78571428571rem;
            border-width: 0 0.71428571428rem 0.71428571428rem 0.71428571428rem;
            border-color: transparent transparent var(--dark-shade-25per) transparent;
        }

        &:before {
            right: 1.14285714286rem;
            top: -0.64285714285rem;
            border-width: 0 0.71428571428rem 0.71428571428rem 0.71428571428rem;
            border-color: transparent transparent white transparent;
        }
    }
}