/* menu */

.menu {
    position: relative;
}

/* button */

.menu__button {
    display: flex;
    cursor: pointer;

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }
}

/* label */

.menu__label {
    font: var(--body-font);
    color: var(--dark-shade-50per);
}

.menu__button {
    &:hover, &:focus {
        & .menu__label {
            color: var(--dark-shade-75per);
        }
    }
}

.menu_expanded .menu__label {
    color: var(--dark-shade-75per);
}

/* icon */

.menu__icon {
    font: var(--icon-font);
    font-size: 1.71428571429rem;
    color: var(--dark-shade-50per);
    transition: transform .2s;
}

.menu__button {
    &:hover, &:focus {
        & .menu__icon {
            color: var(--dark-shade-75per);
        }
    }

    &:active {      
        & .menu__icon {      
            transform:  translateY(5px);
            transition: transform .2s;
        }
    }
}

.menu_expanded .menu__icon {
    color: var(--dark-shade-75per);
}

/* container */ 

.menu__containter {
    position: absolute;
    z-index: -5;
    min-width: 150px;
    padding: min(3vw, 15px);
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: start;
    border: var(--border-1);
    border-radius: 4px;
    box-shadow: var(--shadow-1);
    background-color: white;
    list-style: none;
    visibility: collapse;
    opacity: 0;
    transform: scale(0);
    transition: opacity .1s, transform .3s, z-index step-end .3s, visibility step-end 0.3s;

    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
    }
}

.menu_expanded .menu__containter {
    z-index: 5;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity .3s, transform .3s;
}

@media (width < 880px) {
    .menu__containter {
        left: 110%;
        top: -15px;

        &:after {
            left: -11px;
            top: 16px;
            border-width: 10px 10px 10px 0;
            border-color: transparent var(--dark-shade-25per) transparent  transparent;
        }

        &:before {
            left: -9px;
            top: 16px;
            border-width: 10px 10px 10px 0;
            border-color: transparent white  transparent  transparent;
        }
    }
}

@media (width >= 880px) {
    .menu__containter {
        right: -15px;
        top: 35px;

        &:after {
            right: 16px;
            top: -11px;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent var(--dark-shade-25per) transparent;
        }

        &:before {
            right: 16px;
            top: -9px;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent white transparent;
        }
    }
}