mixin feature({icon, label, description})
    div(class = "feature")
        div(class = "feature__icon") #{icon}
        h4(class = "feature__label") #{label}
        p(class = "feature__description") #{description}
        