/* search result */

.search-result {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (width < 1239px) {
    .search-result {
        align-items: center;
    }
}

/* heading */

.search-result__heading {
    margin-bottom: 1.42857142857rem;
    font: var(--h1-font);
}

@media (width < 1239px) {
    .search-result__heading {
        text-align: center;
    }
}

/* result list */

.search-result__list {
    justify-content: center;
    width: 100%;
    display: grid;
    gap: 1.42857142857rem 0.85714285714rem;
    list-style: none;
}

@media (width < 1239px) {
    .search-result__list {
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fill, 19.2857142857rem);
    }
}

@media (width >= 1239px) {
    .search-result__list {
        grid-template-columns: repeat(3, 19.2857142857rem);
    }
}

/* pagination */

.search-result__pagination {
    margin-top: 2.85714285714rem;
    align-self: center;
}