include ../date-dropdown/date-dropdown
include ../quantity-dropdown/quantity-dropdown
include ../slider/slider
include ../checkbox-list/checkbox-list
include ../expandable-checkbox-list/expandable-checkbox-list

mixin filter({ heading, dateDropdown, guestsDropdown, preferencesDropdown, slider, allowanceCheckboxGroup, accessibilityCheckboxGroup, expandableCheckboxList })
    form(class = 'filter')
        +date-dropdown(dateDropdown)
        +quantity-dropdown(guestsDropdown)
        div(class = 'filter__slider')
            +slider(slider)

        fieldset(class = 'filter__checkbox-group')
            legend(class = 'filter__label') #{allowanceCheckboxGroup.label}
            +checkbox-list(allowanceCheckboxGroup.checkboxList)
        
        fieldset(class = 'filter__checkbox-group')
            legend(class = 'filter__label') #{accessibilityCheckboxGroup.label}
            +checkbox-list(accessibilityCheckboxGroup.checkboxList)

        +quantity-dropdown(preferencesDropdown)
        +expandable-checkbox-list(expandableCheckboxList)