/* login page */

.login-page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    background-color: var(--dark-shade-5per);
}

/* content */

.login-page__content {
    position: relative;
    width: min(90vw, 1159px);
    grid-column: 2;
    display: flex;
    justify-content: center;
}

@media (width < 1025px) {
    .login-page__content {
        padding: 50px 0;
    }
}

@media (width >= 1025px) {
    .login-page__content {
        padding: 172px 0;
    }
}

/* background image */

.login-page__background {
    position: absolute;
    width: 100vw;
    z-index: -1;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.login-page__picture {
    display: grid;
}

.login-page__image {
    position: relative;
}