/* login page */

.login-page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    background-color: var(--dark-shade-5per);
}

/* content */

.login-page__content {
    position: relative;
    padding: 172px 0;
    width: min(90vw, 1159px);
    grid-column: 2;
    display: flex;
    justify-content: center;
}

@supports not (width: min(90vw, 1159px)){
    .login-page__content {
        width: 90vw;
        max-width: 1159px;
    }
}

/* background image */

.login-page__background {
    position: absolute;
    width: 100vw;
    z-index: -1;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.login-page__picture {
    display: grid;
}

.login-page__image {
    position: relative;
}