extends ../../globals/template

include ../../components/layout/layout
include ../../components/login/login

block variables
    -
        const page = require('../../globals/mocks/login-page.en.json');

        const { 
            lang,
            title,
            description,
            bgImage 
        } = page;

block heading
    | #{page.heading}
    
block content
    +layout(lang)
        +login(bgImage, lang)
        