extends ../../globals/template

include ../../components/ui-kit-layout/ui-kit-layout
include ../../components/header/header
include ../../components/footer/footer

block variables
    -title = 'Form elements';

block content
    +ui-kit-layout({
        backgroundColor: 'grey'
    })

        -const headersAndFooters = require('./../../globals/mocks/headers-and-footers.json');
        -const users = require('./../../globals/mocks/users.json');

        div(class = 'headers-and-footers')
            +header({
                header: headersAndFooters.header
            })
        
            -headersAndFooters.header.auth = true

            +header({
                header: headersAndFooters.header
            })
            +footer(headersAndFooters.footer)