extends ../../globals/template

include ../../components/ui-kit-layout/ui-kit-layout
include ../../components/headers-and-footers/headers-and-footers

block variables
    -title = 'Form elements';

block content
    +ui-kit-layout({
        backgroundColor: 'grey'
    })

        -const headersAndFooters = require('./../../globals/mocks/headers-and-footers.json');
        -const users = require('./../../globals/mocks/users.json');

        +headers-and-footers({ headersAndFooters, users })