include ../text-field/text-field
include ../radio-bar/radio-bar
include ../toggle/toggle
include ../button/button
include ../link/link

mixin form-registration(lang)
    -
        const i18n = require('../../components/form-registration/i18n.json')[lang];  

        const {
            ACCOUNT_REGISTRATION, 
            PERSONAL_DATA,
            NAME, 
            ENTER_YOUR_NAME,
            SURNAME, 
            ENTER_YOUR_SURNAME,
            GENDER_SELECTION, 
            MALE,
            FEMALE, 
            DATE_SINGLE_PLACEHOLDER,
            DATE_OF_BIRTH, 
            ENTER_YOUR_DATE_OF_BIRTH,
            SERVICE_LOGIN_DETAILS, 
            ENTER_EMAIL,
            ENTER_PASSWORD, 
            PASSWORD,
            RECEIVE_SPECIAL_OFFERS, 
            PROCEED_TO_CHECKOUT,
            ALREADY_HABE_AN_ACCOUNT_ON,
            LOGIN, 
            LOGIN_PAGE
        } = i18n;

    form(
        class = 'form-registration'
        name = 'registration' 
        method = 'get'
        autocomplete = 'off'
    )
        h2(
            class = 'form-registration__label'
        ) #{ACCOUNT_REGISTRATION}
        
        div(
            class = 'form-registration__fieldset'
            role = 'group'
            aria-label = PERSONAL_DATA
        )
            +text-field({
                name: 'name',
                placeholder: NAME,
                required: true,
                title: ENTER_YOUR_NAME
            })
            +text-field({
                name: 'surname',
                placeholder: SURNAME,
                required: true,
                title: ENTER_YOUR_SURNAME
            })
            +radio-bar({
                ariaLabel: GENDER_SELECT,
                radioButtons: [
                    {
                        label: MALE,
                        name: 'gender',
                        value: 'male',
                        checked: true
                    },
                    {
                        label: FEMALE,
                        name: 'gender',
                        value: 'female'
                    }
                ]
            })

        +text-field({
            label: DATE_OF_BIRTH,
            input: {
                name: 'birthday',
                placeholder: DATE_SINGLE_PLACEHOLDER,
                mask: 'date',
                required: true,
                title: ENTER_YOUR_DATE_OF_BIRTH
            }
        })
        
        div(
            class = 'form-registration__fieldset'
            role = 'group'
            aria-label = SERVICE_LOGIN_DETAILS
        )
            +text-field({
                input: {
                    label: SERVICE_LOGIN_DETAILS,
                    name: 'email',
                    type: 'email',
                    placeholder: 'Email',
                    required: true,
                    title: ENTER_EMAIL
                }
            })
            +text-field({
                input: {
                    name: 'password',
                    type: 'password',
                    placeholder: PASSWORD,
                    required: true,
                    title: ENTER_EMAIL
                }
            })
            +toggle({
                name: 'special',
                label: RECEIVE_SPECIAL_OFFERS
            })

        div(class = 'form-registration__submit-button')
            +button({
                label: PROCEED_TO_CHECKOUT,
                color: 'purple',
                fill: true,
                icon: 'arrow_forward'
            })
        div(class = 'form-registration__login')
            p(class = 'form-registration__login-text') #{ALREADY_HABE_AN_ACCOUNT_ON}
            div(class = 'form-registration__login-link')
                +link({
                    label: LOGIN,
                    href: './login-page.html',
                    title: LOGIN_PAGE,
                    button: true,
                    border: true
                })
