/* form-registration */

.form-registration {
    width: min(100%, 380px);
    padding: 38px min(5vw, 28px) 30px min(5vw, 28px);
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px; 
} 

/*  title */

.form-registration__title {
    font: var(--h1-font);
    color: var(--dark-shade-100per);
}

/* main */

.form-registration__main {
    display: grid;
    gap: 23.5px 0;
    padding: 20px 0 22px 0; 
}

/* special-request */

.form-registration__special-request  {
    margin-top: -1px;
}

/* fieldset */

.form-registration__fieldset {
    display: grid;
    gap: 10px 0;
}

/* footer */

.form-registration__footer {
    display: grid;
    gap: 30px 0;
}

/* login */

.form-registration__login {
    display: grid;
    grid-template-areas: 
        'text . button';
    grid-template-columns: auto 1fr 99px;
    align-items: center;
}

/* login-text */

.form-registration__login-text {
    grid-area: text;
    font: var(--body-font);
    text-align: center;
}

/* login-button */

.form-registration__login-button {
    grid-area: button;
}