/* form registration */

.form-registration {
    width: min(100%, 380px);
    padding: 38px min(5vw, 28px) 30px min(5vw, 28px);
    display: grid;
    row-gap: 20px;
    background-color: white;
    box-shadow: var(--shadow-3);
    border: var(--border-2);
    border-radius: 4px; 
} 

@supports not (width: min(100%, 380px)) {
    .form-registration {
        width: 100%;
        max-width: 380px;
        padding: 38px 7.36% 30px 7.36%;
    }
}

/*  heading */

.form-registration__heading {
    font: var(--h1-font);
    color: var(--dark-shade-100per);
}

/* special request */

.form-registration__special-request  {
    margin-top: -1px;
}

/* fieldset */

.form-registration__fieldset {
    display: grid;
    row-gap: 10px;
}

/* submit button */

.form-registration__submit-button {
    height: 44px;
}

/* login */

.form-registration__login {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* login text */

.form-registration__login-text {
    grid-area: text;
    font: var(--body-font);
    text-align: center;
}

/* login link */

.form-registration__login-link {
    width: 99px;
    height: 44px;
}