include ../text-field/text-field
include ../radio-bar/radio-bar
include ../toggle/toggle
include ../button/button
include ../link/link

mixin form-registration({ heading, nameInput, surnameInput, birthdayInput, emailInput, passwordInput, toggle, radioBar, submitButton, loginText, loginLink })
    form(
        class = 'form-registration'
        name = 'registration' 
        method = 'get'
        autocomplete = 'off'
    )
        h2(class = 'form-registration__heading') #{heading}
        div(
            class = 'form-registration__fieldset'
            role = 'group'
        )
            +text-field(nameInput)
            +text-field(surnameInput)
            +radio-bar(radioBar)

        +text-field(birthdayInput)
        
        div(
            class = 'form-registration__fieldset'
            role = 'group'
        )
            +text-field(emailInput)
            +text-field(passwordInput)
            +toggle(toggle)

        div(class = 'form-registration__submit-button')
            +button(submitButton)
        div(class = 'form-registration__login')
            p(class = 'form-registration__login-text') #{loginText}
            span(class = 'form-registration__login-link')
                +link(loginLink)
