/* form booking */

.form-booking {
    width: min(100%, 380px);
    padding: 45px min(5vw, 28px) 30px min(5vw, 28px);
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px; 
} 

/* header */

.form-booking__header {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: 'header-room-number header-room-category . header-rent-price header-rent-period';
    align-items: baseline;
    font: var(--body-font);
}

/* header room number */

.form-booking__header-room-number {
    grid-area: header-room-number;
    font: var(--h1-font);
    line-height: 1.2142857142857142rem;
}

.form-booking__header-room-number::first-letter {
    font-size: 1rem;
}

/* header room category */

.form-booking__header-room-category {
    grid-area: header-room-category;
    margin-left: 5px;
    font: var(--h3-font);
    font-weight: bold;
    line-height: 1.0714285714285714rem;
    text-transform: uppercase;
    color: var(--purple-100per);
}

/* header rent price */

.form-booking__header-rent-price {
    grid-area: header-rent-price;
    display: inline-flex;
    align-items: flex-end;
    font-weight: bold;
    line-height: 1rem;
    color: var(--dark-shade-50per);
}

/* header rent period */

.form-booking__header-rent-period {
    grid-area: header-rent-period;
    margin-left: 3.7px;
    font-size: 0.8571428571428571rem;
    line-height: 0.8571428571428571rem;
    color: var(--dark-shade-50per);
}

/* main */

.form-booking__main {
    display: grid;
    gap: 20px 0;
    padding: 23px 0 30px 0; 
}

/* calc */

.form-booking__calc {
    display: grid;
    gap: 10px 0;
}

/* calc detail */

.form-booking__calc-detail {
    display: grid;
    min-height: 24px;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: start;
}

/* calc description */

.form-booking__calc-description {
    font: var(--body-font);
    line-height: 18px;
    color: var(--dark-shade-75per);
}

/* calc value */

.form-booking__calc-value {
    font: var(--body-font);
    line-height: 18px;
    color: var(--dark-shade-75per);
}

/* calc rent term */ 

.form-booking__calc-rent-term {
    margin-left: 4px;
}

/* footer */

.form-booking__footer {
    display: grid;
    gap: 20px 0;
}

/* total */

.form-booking__total {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: bottom;
    gap: 0 5px;
}

/* total title */

.form-booking__total-title {
    font: var(--h2-font);
    color: var(--dark-shade-100per);
}

/* total dashed line */

.form-booking__total-dashed-line {
    margin-bottom: 5px;
    border-bottom: 1px dashed var(--dark-shade-25per);
}

/* total price */

.form-booking__total-price {
    font: var(--h2-font);
    color: var(--dark-shade-100per);
}

/* submit button */

.form-booking__submit-button {
    height: 44px;
}