mixin range({ label, valueRange, defaultValueRange, step, margin  })
    label(class = 'range js-range')
        p(class = 'range__label') #{label}
        input(
            class = 'range__input js-range__input'
            type = 'text' 
            tabindex = '-1' 
            readonly
        )
        div(
            class = 'range__slider js-range__slider'
            data-value-range = valueRange 
            data-default-value-range = defaultValueRange 
            data-step = step
            data-margin = margin
        )