/* header */

.header {
    display: grid;
    grid-template-areas: 
        '. content .';
    grid-template-columns: 1fr max-content 1fr;
    background-color: white;
    box-shadow: var(--shadow-1);
}

@media (width < 880px) {
    .header {
        position: relative;
        z-index: 5;
    }
}

/* content */

.header__content {
    grid-area: content;
    width: min(90vw, 1159px);
    display: grid;
    align-items: center;
}

@media (width < 880px) {
    .header__content {
        padding: 0.71428571428rem 0;
        grid-auto-flow: column;
        justify-content: space-between;
    }
}

@media (width >= 880px) {
    .header__content {  
        padding: 1.07142857143rem 0;
    }
}

@media (width >= 880px) and (width < 1167px) {
    .header__content {
        justify-content: center;
        row-gap: 1.78571428571rem;
    }
}

@media (width >= 1167px) {
    .header__content {
        grid-auto-flow: column;
        justify-content: space-between;
    }
}

/* logo link */

.header__logo-link {
    display: flex;
    width: max-content;

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }
}

/* nav */

@media (width < 880px) {
    .header__nav {
        position: absolute;
        top: 90%;
        right: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        visibility: hidden;
        border-top: var(--border-2);
        border-bottom: var(--border-2);
        border-bottom-right-radius: 0.28571428571rem;
        border-bottom-left-radius: 0.28571428571rem;
        box-shadow: var(--shadow-1);
        background-color: white;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity .3s, transform .3s, visibility step-end 0.3s;
    }

    .header_expanded .header__nav {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        transition: opacity .3s, transform .3s;
    }
}

/* nav list */

.header__nav-list {
    display: grid;
    grid-auto-columns: max-content;
    align-items: center;
    column-gap: 1.42857142857rem;
    list-style: none;
}

@media (width < 880px) {
    .header__nav-list {
        position: relative;
        padding: 0.71428571428rem 0 1.42857142857rem 2.14285714286rem;
        width: 90vw;
        height: 100%;
        grid-auto-columns: max-content;
        row-gap: 0.71428571428rem;
        transform: translateX(-150%);
        transition: transform .1s;

        &:after {
            content: '';
            position: absolute;
            left: 59px;
            top: -0.78571428571rem;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0.71428571428rem 0.71428571428rem 0.71428571428rem;
            border-color: transparent transparent rgba(0, 0, 0, 0.12) transparent;
        }

        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 59px;
            top: -0.64285714285rem;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0.71428571428rem 0.71428571428rem 0.71428571428rem;
            border-color: transparent transparent white transparent;
        }
    }

    .header_expanded .header__nav-list {
        transform: translateX(0);
        transition: transform .4s;
    }
}

@media (width >= 880px) {
    .header__nav-list {
        grid-auto-flow: column;
    }
}

/* nav item */

.header__nav-item {
    height: 2.42857142857rem;
    display: flex;
    align-items: center;

    &.header__nav-item_menu {
        z-index: 1;
    }
}

/* nav separator */

.header__nav-separator {
    background-color: var(--dark-shade-25per);
}


@media (width < 880px) {
    .header__nav-separator {
        width: calc(110%);
        height: 1px;
        transform: translateX(-150%);
    }
    
    .header_expanded .header__nav-separator {
        transform: translateX(0);
        transition: transform .8s;
    }
}

@media (width >= 880px) {
    .header__nav-separator_mobile-only {
        display: none;
    }

    .header__nav-separator {
        width: 1px;
        height: 2.142857rem;
    }
}

/* button */

@media (width < 880px) {
    .header__button {
        width: max-content;
        display: flex;  
        justify-self: end; 
        
        &:focus {
            outline: var(--outline);
            outline-offset: 2px;
        }
    }
}

@media (width >= 880px) {
    .header__button {
        display: none;
    }
}

/* icon */

@media (width < 880px) {
    .header__button {
        & .header__button-icon:before {
            font: var(--icon-font);
            font-size: 2.14285714286rem;
            color: var(--dark-shade-50per);
        }

        &:focus  {
            & .header__button-icon:before {
                color: var(--dark-shade-75per);
            }
        }

        &:active {
            & .header__button-icon:before {
                color: var(--purple-100per);
            }
        }
    }

    .header:not(.header_expanded) .header__button-icon:before {
        content: 'menu';
    }

    .header_expanded .header__button-icon:before {
        content: 'close';
    }
}