include ./menu/menu
include ../logo/logo
include ../link/link

mixin header(header, lang, auth, user)
    -
        const uniqid = require('uniqid');
        const id = uniqid();

        const {
            navList
        } = header;

        const i18n = require('../../components/header/i18n.json')[lang]; 

        const {
            MAIN_PAGE,
            NAVIGATION_MENU,
            LOGIN,
            LOGIN_PAGE,
            REGISTRATION,
            REGISTRATION_PAGE,
            PERSONAL_ACCOUNT
        } = i18n;

    header(class = 'header js-header')
        div(class = 'header__content')
            a(
                class = 'header__logo-link' 
                href = './landing-page.html',
                title = MAIN_PAGE
                aria-label = MAIN_PAGE
            )
                +logo()

            button(
                class = 'header__button js-header__button'
                aria-expanded = 'false'
                aria-controls = `navigation-${id}`
                aria-label = NAVIGATION_MENU
            )
                span(
                    class = 'header__button-icon'
                    aria-hidden = 'true'
                ) 
            
            nav(
                class = 'header__nav js-header__nav'
                id = `navigation-${id}`
            )
                ul(class = 'header__nav-list')
                    each item in navList
                        if item.isMenu
                            +menu(item.menu)

                        else 
                            li(class = 'header__nav-item')
                                +link(item)
                    
                    if auth
                        li(
                            class = 'header__nav-separator'
                            role = 'separator'
                        )
                        li(class = 'header__nav-item')
                            +link({
                                label: `${user.name} ${user.surname}`,
                                href: user.href,
                                title: PERSONAL_ACCOUNT
                            })
                        
                    else 
                        li(
                            class = 'header__nav-separator header__nav-separator_mobile-only'
                            role = 'separator'
                        )
                        li(class = 'header__nav-item')
                            +link({
                                label: LOGIN,
                                href: './login-page.html',
                                title: LOGIN,
                                button: true,
                                border: true
                            })
                        li(class = 'header__nav-item')
                            +link({
                                label: REGISTRATION,
                                href: './registration-page.html',
                                title: REGISTRATION,
                                button: true,
                                fill: true
                            })
