/* datepicker */

.datepicker {
    width: min(80vw, 320px);
    padding: min(4vw, 20px) min(4vw, 20px) min(4vw, 19px) min(4vw, 20px);
    display: grid;
    grid-auto-rows: max-content;
    row-gap: min(5vw, 20px);
    background-color: white;
    box-shadow: var(--shadow);
    border: var(--border);
    border-radius: 4px; 
}

/* main */

.datepicker__main {
    display: grid;
}

/* footer */

.datepicker__footer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
}

 /* activiy class for button */

.datepicker__clear-button {
    transition: opacity .2s;
}

/* litepicker */

.month-item-header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
    margin-bottom: min(7vw, 28px);
}

.month-item-header > div {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
}

.month-item-name {
    font: var(--h2-font);
}

.month-item-name::first-letter {
    text-transform: uppercase;
}

.month-item-year {
    font: var(--h2-font);
}

.button-previous-month {
    font: var(--icon-font);
    font-size: 24px;
    color: var(--purple-100per);
}

.button-previous-month:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.button-next-month {
    font: var(--icon-font);
    font-size: 24px;
    color: var(--purple-100per);
}

.button-next-month:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.month-item-weekdays-row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.month-item-weekdays-row  > div {
    padding-top: calc(50% - 1.05rem/2);
    padding-bottom: calc(50% - 1.05rem/2);
    font: var(--h3-font); 
    color: var(--purple-100per);
}

.month-item-weekdays-row > div::first-letter {
    text-transform: uppercase;
}

.container__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-item {
    padding-top: calc(50% - 1.05rem/2);
    padding-bottom: calc(50% - 1.05rem/2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font: var(--h3-font); 
    font-weight: normal;
    color: var(--dark-shade-50per);
}

.day-item.is-today {
    position: relative;
    border-radius: 50%;
    background: var(--green-gradient);
    color: white;
}

.day-item.is-start-date,
.day-item.is-end-date {
    position: relative;
    border-radius: 50%;
    background: var(--purple-gradient);
    color: white;
}

.day-item.is-start-date.day-item.is-end-date:after,
.day-item.is-end-date.day-item.is-start-date::before {
    content: none;
}

.day-item.is-start-date:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--purple-25per);
}

.day-item.is-start-date:not(.is-flipped):after {
    left: 50%;
}

.day-item.is-start-date.is-flipped:after {
    right: 50%;
}

.day-item.is-end-date::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--purple-25per);
}

.day-item.is-end-date:not(.is-flipped)::before {
    right: 50%;
}

.day-item.is-end-date.is-flipped::before{
    left: 50%;
}

.day-item.is-in-range {
    background-color: var(--purple-25per);
}

.day-item.is-today.is-in-range::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--purple-25per);
}

.day-item:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.day-item:not(.is-end-date):not(.is-start-date):not(.is-locked):hover {
    text-decoration: underline;
}

.day-item.is-start-date:hover,
.day-item.is-end-date:hover {
    box-shadow: var(--shadow-hover);
}

.day-item.is-locked {
    cursor: default;
}





