include ../button/button

mixin datepicker({ initValue, lang='ru' })
    div(
        class = controlClass ? `datepicker js-datepicker ${controlClass}` : 'datepicker js-datepicker'
        data-init-value = initValue
        data-lang = lang
    )