/* carousel */

.carousel {
    position: relative;
    height: auto;
}

/* track */

.carousel__track {
    max-width: 100vw;
}

/* slides */

.carousel__slides {
    align-items: flex-end;
}

/* slide */

.carousel__slide {
    height: 100%;
    max-width: max-content;
}

/* picture */

.carousel__picture {
    display: grid; 
}

/* controls */

.carousel__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* prev-button */

.carousel__control-button {
    width: 42px;
    z-index: 1;
    font: var(--icon-font);
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.carousel__control-button:hover {
    background: linear-gradient(-90deg, transparent 0%, var(--dark-shade-25per) 100%);
}

.carousel__control-button:focus {
    background: linear-gradient(90deg, transparent 0%, var(--dark-shade-25per) 100%);
    outline: var(--outline);
    outline-offset: 2px;
}

/* control-button-icon */

.carousel__control-button-icon_prev {
    transform: rotate(90deg);
}

.carousel__control-button-icon_next {
    transform: rotate(-90deg);
}


/* bullets */

.carousel__bullets {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* bullet */

.carousel__bullet {
    width: 7.5px;
    height: 7.5px;
    border: 1px solid white;
    border-radius: 50%;
}

.carousel__bullet:not(:last-child) {
    margin-right: 1.75px;
}

.glide__bullet--active {
    background-color: white;
}
