/* carousel */

.carousel {
    position: relative;
    width: 100%;
    display: grid;
    overflow: hidden
}

.carousel:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.carousel__slides {
    display: flex;
    align-items: flex-end;
    list-style: none;
}

/* picture */

.carousel__picture {
    display: grid;
}

.carousel_responsive .carousel__image {
    max-width: 100%;
    height: auto;
}

/* controls */

.carousel__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel__controls:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

/* control button */

.carousel__control-button {
    width: 42px;
    z-index: 1;
    color: white;
    cursor: pointer;
}

.carousel__control-button:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

.carousel__control-button_prev:hover {
    background: linear-gradient(-90deg, transparent 0%, var(--dark-shade-25per) 100%);
}

.carousel__control-button_next:hover {
    background: linear-gradient(90deg, transparent 0%, var(--dark-shade-25per) 100%);
}

.carousel__icon {
    font: var(--icon-font);
    font-size: 24px;
}

.carousel__icon_prev {
    transform: rotate(90deg);
}

.carousel__icon_next {
    transform: rotate(-90deg);
}

/* bullets */

.carousel__bullets {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* bullet */

.carousel__bullet {
    width: 7.5px;
    height: 7.5px;
    border: 1px solid white;
    border-radius: 50%;
}

.carousel__bullet:not(:last-child) {
    margin-right: 1.75px;
}

.glide__bullet--active {
    background-color: white;
}
