mixin checkbox({ name, label, title, description, checked=false, disabled=false })
    label(class = 'checkbox')     
        input(
            class = 'checkbox__input'
            type = 'checkbox' 
            name = name
            title = title
            checked = checked ? true : false
            disabled = disabled ? true : false
        )

        if label
            span(class = description ? 'checkbox__label checkbox__label_font-weight_bold' : 'checkbox__label') #{label}

        if description
            span(class = 'checkbox__description') #{description}