mixin checkbox({ name, label, title, description, checked=false, disabled=false })
    label(class = description ? 'checkbox checkbox_with_description' : 'checkbox')     
        input(
            class = 'checkbox__input'
            type = 'checkbox' 
            name = name
            title = title
            checked = checked ? true : false
            disabled = disabled ? true : false
        )

        if label
            span(class = 'checkbox__label') !{label}

        if description
            span(class = 'checkbox__description') !{description}