/* checkbox */

.checkbox {
    display: grid;
    grid-template-areas: 
        'input label'
        '. describtion';
    grid-template-columns: 1.42857142857rem auto;
    column-gap: 0.71428571428rem;
    font: var(--body-font);   
    cursor: pointer;
}

/* input */

.checkbox__input {
    grid-area: input;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-1);
    border-radius: 4px;
    cursor: inherit;

    &:hover {
        box-shadow: var(--shadow-hover);
    }

    &:checked {
        border-color: var(--purple-100per);
    }

    &:disabled {
        border-color: var(--dark-shade-5per);
        cursor: default;
    }

    &:focus {
        outline: var(--outline);
        outline-offset: 1px;
    }

    &:before {
        content: '';
        width: 6px; 
        height: 8px;
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 66.666666666% 0%, 66.666666666% 75%, 0% 75%);
        transform: rotate(45deg);
        background: var(--purple-gradient);
        opacity: 0;
        transition: opacity .4s; 
    }

    &:checked:before {
        opacity: 1;
        transition: opacity .4s;  
    }
}

/* label */

.checkbox__label {
    grid-area: label;
    align-self: center;
    line-height: 18px;
    color: var(--dark-shade-50per);
    white-space: pre-line;
}

b.checkbox__label {
    color: var(--dark-shade-75per);
}

/* description */

.checkbox__description {
    grid-area: describtion;
    margin-top: 6px;
    line-height: 14px;
    color: var(--dark-shade-50per);
    white-space: pre-line;
}