include ../quantity-dropdown/quantity-dropdown
include ../date-dropdown/date-dropdown
include ../button/button

mixin form-search({ title, dateDropdown, quantityDropdown, submitButton })
    form(
        class = 'form-search'
        name='search' 
        method='get'
    )
        div(class = 'form-search__header')
            h2(class = 'form-search__title') #{title}
        div(class = 'form-search__main')
            div(class = 'form-search__date-input')
                +date-dropdown(dateDropdown)
            div(class = 'form-search__quantity-input')
                +quantity-dropdown(quantityDropdown)
        div(class = 'form-search__footer')
            div(class = 'form-search__submit-button')
                +button(submitButton)