/* form search */

.form-search {
    width: min(100%, 380px);
    padding: 38px min(5vw, 28px) 30px min(5vw, 28px);
    display: grid;
    row-gap: 21px;
    background-color: white;
    box-shadow: var(--shadow-3);
    border: var(--border-2);
    border-radius: 4px; 
} 

@supports not (width: min(100%, 380px)) {
    .form-search {
        width: 100%;
        max-width: 380px;
        padding: 38px 7.36% 30px 7.36%;
    }
}

/*  label */

.form-search__label {
    font: var(--h1-font);
    color: var(--dark-shade-100per);
}

/* submit button */

.form-search__submit-button {
    margin-top: 10px;
    height: 44px;
}
