/* form search */

.form-search {
    width: min(100%, 380px);
    padding: 2.71428571429rem 2rem 2.14285714286rem 2rem;
    display: grid;
    row-gap: 1.5rem;
    background-color: white;
    box-shadow: var(--shadow-3);
    border: var(--border-2);
    border-radius: 0.28571428571rem; 
}

/*  label */

.form-search__label {
    font: var(--h1-font);
    color: var(--dark-shade-100per);
}

/* submit button */

.form-search__submit-button {
    margin-top: 0.71428571428rem;
    height: 3.14285714286rem;
}
