/* form-search */

.form-search {
    width: min(100%, 380px);
    padding: 38px 30px 30px 28px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px; 
} 

/*  title */

.form-search__title {
    font: var(--h1-font);
    color: var(--dark-shade-100per);
}

/* main */

.form-search__main {
    display: grid;
    gap: 21px 0;
    padding: 21px 0 32px 0; 
}
