/* features list */

.features-list {
    width: min(100%, 280px); 
    display: grid;
    row-gap: 20px;
}

/* item */

.features-list__item {
    display: grid;
    grid-template-areas: 
        'icon label'
        'icon description';
    grid-template-columns: max-content;
    column-gap: 10px;
    
    &:not(:last-child) {
        padding-bottom: 20px;
        border-bottom: var(--border-1);
        border-color: var(--dark-shade-10per);
    }
}

/* icon */

.features-list__icon {
    grid-area: icon;
    font: var(--icon-font);
    font-size: 48px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-clip: text;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* label */

.features-list__label {
    grid-area: label;
    font: var(--body-font);
    font-weight: bold;
    color: var(--dark-shade-75per);
}

/* description */

.features-list__description {
    grid-area: description;
    font: var(--body-font);
    color: var(--dark-shade-75per);
}