/* footer */

.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-auto-rows: max-content;
    background-color: white;
    box-shadow: var(--shadow-2);
}

@media (max-width: 879px) {
    .footer {
        grid-template-areas: 
            '. content .'
            '. basement .';
        row-gap: 20px;
    }
}

@media (min-width: 880px) {
    .footer {  
        grid-template-areas: 
            '. content .'
            'separator separator separator'
            '. basement .';
    }
}

/* content */

.footer__content {
    grid-area: content;
    width: min(90vw, 1159px);
    padding: 100px 0;
    display: grid;
}

@supports not (width: min(90vw, 1159px)) {
    .footer__content {
        width: 90vw;
        max-width: 1159px;
    }
}

@media (max-width: 879px) {
    .footer__content {
        justify-content: center;
        padding-bottom: 0;
    }
}

@media (max-width: 1166px) and (min-width: 880px) {
    .footer__content {
        grid-template-areas: 
            'logo logo logo logo'
            'nav about support subscribtion';
        
        grid-template-columns: max-content max-content max-content max-content;
        justify-content: center;
        column-gap: 30px;
        row-gap: 50px;
    }
}

@media (min-width: 1167px) {
    .footer__content {
        grid-template-areas: 
            'logo . nav . about . support . subscribtion'
            'awards . nav . about . support . subscribtion'; 
        grid-template-columns: auto minmax(10px, 40px) max-content minmax(10px, 57px) max-content minmax(10px, 92px) max-content minmax(10px, 51px) max-content;
        grid-template-rows: max-content auto;
        row-gap: 18px;
        background-color: white;
    }
}

/* logo */

.footer__logo {
    grid-area: logo;
    display: inline-flex;
}

@media (max-width: 1166px) {
    .footer__logo {
        justify-self: center;
    }
}

/* logo link */

.footer__logo-link {
    display: inline-flex;
}

/* awards */

@media (max-width: 1166px) {
    .footer__awards {
        grid-area: none;
        display: none;
    }
}

@media (min-width: 1167px) {
    .footer__awards {
        grid-area: awards;
        width: 260px;
        display: flex;
        font: var(--body-font);
        color: var(--dark-shade-50per);
    }
}

/* nav */

@media (max-width: 879px) {
    .footer__nav {
        display: none;
    }
}

@media (min-width: 879px) {
    .footer__nav {
        grid-area: nav;
    }
}

/* about */


@media (max-width: 879px) {
    .footer__about {
        display: none;
    }
}

@media (min-width: 880px) {
    .footer__about {
        grid-area: about;
    }
}

/* support */

@media (max-width: 879px) {
    .footer__support {
        display: none;
    }
}

@media (min-width: 880px) {
    .footer__support {
        grid-area: support;
    }
}

/* subscribtion */

.footer__subscribtion {
    display: flex;
    width: max-content;
}

@media (max-width: 879px) {
    .footer__subscribtion {
        display: none;
    }
}

@media (min-width: 880px) {
    .footer__subscribtion {
        grid-area: subscribtion;
    }
}

.footer__subscribtion-text {
    width: 260px;
    margin-bottom: 20px;
    font: var(--body-font);
    color: var(--dark-shade-50per);
}

/* basement */

.footer__basement {
    grid-area: basement;
    width: min(90vw, 1159px);
}

@supports not (width: min(90vw, 1159px)) {
    .footer__basement {
        width: 90vw;
        max-width: 1159px;
    }
}

@media (max-width: 879px) {
    .footer__basement {
        display: grid;
        row-gap: 20px;
        padding-bottom: 100px;
        grid-auto-columns: max-content;
        justify-content: center;
        justify-items: center;
    }
}

@media (min-width: 880px) {
    .footer__basement {
        display: flex;
        padding: 23px 0;
    }
}

@media (max-width: 1166px) and (min-width: 880px) {
    .footer__basement {
        justify-content: space-evenly;
    }
}

@media (min-width: 1166px) {
    .footer__basement {
        justify-content: space-between;
    }
}

/* copyright */

.footer__copyright {
    max-width: 70vw;
    font: var(--body-font);
    color: var(--dark-shade-50per);
    text-align: center;
}

/* separator */

@media (max-width: 879px) {
    .footer__separator {
        display: none;
    }
}

@media (min-width: 880px) {
    .footer__separator {
        grid-area: separator;
        width: 100vw;
        height: 1px;
        background-color: var(--dark-shade-25per);
    }
}