/* footer */

.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-auto-rows: max-content;
    background-color: white;
    border-top: 1px solid var(--dark-shade-25per);
    box-shadow: var(--shadow-4);
}

@media (width < 880px) {
    .footer {
        grid-template-areas: 
            '. content .'
            '. basement .';
        row-gap: 1.42857142857rem;
    }
}

@media (width >= 880px) {
    .footer {  
        grid-template-areas: 
            '. content .'
            'separator separator separator'
            '. basement .';
    }
}

/* label */

.footer__label {
    margin-bottom: 1.42857142857rem;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
    white-space: nowrap;
}

/* content */

.footer__content {
    grid-area: content;
    width: min(90vw, 1159px);
    padding: 7.14285714286rem 0;
    display: grid;
}

@media (width < 880px) {
    .footer__content {
        justify-content: center;
        padding-bottom: 0;
    }
}

@media (width >= 880px) and (width < 1167px) {
    .footer__content {
        grid-template-areas: 
            'logo logo'
            'nav subscribtion';
        
        grid-auto-columns: 33rem max-content;
        justify-content: space-between;
        row-gap: 3.57142857143rem;
    }
}

@media (width >= 1167px) {
    .footer__content {
        grid-template-areas: 
            'logo nav subscribtion'
            'promo nav subscribtion'; 
        grid-template-columns: auto 1fr auto;
        grid-template-rows: max-content auto;
        gap: 1.28571428571rem 1.42857142857rem;
        background-color: white;
    }
}

/* logo link */

.footer__logo-link {
    grid-area: logo;
    width: max-content;
    display: inline-flex;

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }
}

@media (width < 1167px) {
    .footer__logo-link {
        justify-self: start;
    }
}

/* paragraph */

.footer__paragraph {
    width: 18.5714285714rem;
    font: var(--body-font);
    white-space: pre-wrap;
    color: var(--dark-shade-50per);
}

/* promo section */

@media (width < 1167px) {
    .footer__promo {
        display: none;
    }
}

@media (width >= 1667px) {
    .footer__promo {
        grid-area: promo;
    }
}

/* nav */

@media (width < 880px) {
    .footer__nav {
        display: none;
    }
}

@media (width >= 880px) { 
    .footer__nav {
        grid-area: nav;
        display: grid;
        grid-auto-flow: column;
    }  
}

@media (width >= 880px) and (width < 1167px) {
    .footer__nav {
        grid-auto-columns: max-content;
        justify-content: space-between;
    }  
}

@media (width >= 1167px) { 
    .footer__nav {
        width: min(100%, 40.2142857143rem);
        margin-top: 0.35714285714rem;
        grid-auto-columns: 11.3571428571rem;
        justify-content: space-between;
        justify-self: center;
    }  
}


/* subscribtion section */

@media (width < 880px) {
    .footer__subscribtion {
        display: none;
    }
}

@media (width >= 880px) {
    .footer__subscribtion {
        & .footer__paragraph {
            margin-bottom: 1.42857142857rem;
        }
    }
}

@media (width >= 1167px) { 
    .footer__subscribtion {
        grid-area: subscribtion;
        margin-top: 0.35714285714rem;
    }  
}


/* basement */

.footer__basement {
    grid-area: basement;
    width: min(90vw, 1159px);
}

@media (width < 880px) {
    .footer__basement {
        display: grid;
        row-gap: 1.42857142857rem;
        padding-bottom: 7.14285714286rem;
        grid-auto-columns: max-content;
        justify-content: center;
        justify-items: center;
    }
}

@media (width >= 880px) {
    .footer__basement {
        display: flex;
        padding: 1.64285714286rem 0;
    }
}

@media (width >= 880px) and (width < 1167px) {
    .footer__basement {
        justify-content: space-between;
    }
}

@media (width >= 1167px) {
    .footer__basement {
        justify-content: space-between;
    }
}

/* copyright */

.footer__copyright {
    max-width: 70vw;
    font: var(--body-font);
    color: var(--dark-shade-50per);
    text-align: center;
}

/* separator */

@media (width < 880px) {
    .footer__separator {
        display: none;
    }
}

@media (width >= 880px) {
    .footer__separator {
        grid-area: separator;
        width: 100%;
        height: 1px;
        background-color: var(--dark-shade-25per);
    }
}