/* footer */

.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-auto-rows: max-content;
    background-color: white;
    border-top: 1px solid var(--dark-shade-25per);
    box-shadow: var(--shadow-4);
}

@media (max-width: 879px) {
    .footer {
        grid-template-areas: 
            '. content .'
            '. basement .';
        row-gap: 20px;
    }
}

@media (min-width: 880px) {
    .footer {  
        grid-template-areas: 
            '. content .'
            'separator separator separator'
            '. basement .';
    }
}

/* label */

.footer__label {
    margin-bottom: 20px;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
    white-space: nowrap;
}

.footer__label_visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* content */

.footer__content {
    grid-area: content;
    width: min(90vw, 1159px);
    padding: 100px 0;
    display: grid;
}

@supports not (width: min(90vw, 1159px)) {
    .footer__content {
        width: 90vw;
        max-width: 1159px;
    }
}

@media (max-width: 879px) {
    .footer__content {
        justify-content: center;
        padding-bottom: 0;
    }
}

@media (max-width: 1166px) and (min-width: 880px) {
    .footer__content {
        grid-template-areas: 
            'logo logo logo logo'
            'nav about support subscribtion';
        
        grid-template-columns: max-content max-content max-content max-content;
        justify-content: center;
        column-gap: 30px;
        row-gap: 50px;
    }
}

@media (min-width: 1167px) {
    .footer__content {
        grid-template-areas: 
            'logo nav about support subscribtion'
            'awards nav about support subscribtion'; 
        grid-template-columns: auto max-content max-content max-content max-content;
        grid-template-rows: max-content auto;
        justify-content: space-between;
        row-gap: 18px;
        background-color: white;
    }
}

/* logo link */

.footer__logo-link {
    grid-area: logo;
    width: max-content;
    display: inline-flex;
}


.footer__logo-link:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

@media (max-width: 1166px) {
    .footer__logo-link {
        justify-self: center;
    }
}

@media (max-width: 879px) {
    .footer__nav-section,
    .footer__about-section,
    .footer__support-section,
    .footer__subscribtion-section {
        display: none;
    }
}

@media (min-width: 880px) {
    .footer__nav-section {
        grid-area: nav;
    }
    
    .footer__about-section {
        grid-area: about;
    }
    
    .footer__support-section {
        grid-area: support;
    }
    
    .footer__subscribtion-section {
        grid-area: subscribtion;
    }
}

@media (max-width: 1166px) {
    .footer__awards-section {
        display: none;
    }
}

@media (min-width: 1167px) { 
    .footer__nav-section,
    .footer__about-section,
    .footer__support-section,
    .footer__subscribtion-section {
        margin-top: 5px;
    }

    .footer__nav-section,
    .footer__about-section,
    .footer__support-section {
        width: 159px;
    }

    .footer__awards-section {
        grid-area: awards;
    }
}

.footer__section-paragraph {
    width: 260px;
    font: var(--body-font);
    color: var(--dark-shade-50per);
}

.footer__section-paragraph:not(:last-child) {
    margin-bottom: 20px;
}


/* basement */

.footer__basement {
    grid-area: basement;
    width: min(90vw, 1159px);
}

@supports not (width: min(90vw, 1159px)) {
    .footer__basement {
        width: 90vw;
        max-width: 1159px;
    }
}

@media (max-width: 879px) {
    .footer__basement {
        display: grid;
        row-gap: 20px;
        padding-bottom: 100px;
        grid-auto-columns: max-content;
        justify-content: center;
        justify-items: center;
    }
}

@media (min-width: 880px) {
    .footer__basement {
        display: flex;
        padding: 23px 0;
    }
}

@media (max-width: 1166px) and (min-width: 880px) {
    .footer__basement {
        justify-content: space-evenly;
    }
}

@media (min-width: 1166px) {
    .footer__basement {
        justify-content: space-between;
    }
}

/* copyright */

.footer__copyright {
    max-width: 70vw;
    font: var(--body-font);
    color: var(--dark-shade-50per);
    text-align: center;
}

/* separator */

@media (max-width: 879px) {
    .footer__separator {
        display: none;
    }
}

@media (min-width: 880px) {
    .footer__separator {
        grid-area: separator;
        width: 100vw;
        height: 1px;
        background-color: var(--dark-shade-25per);
    }
}