include ./label-wrapper/label-wrapper
include ./social-list/social-list
include ../logo/logo
include ../list/list
include ../subscribtion-field/subscribtion-field

mixin footer({ awards, nav, about, support, subscribtion, copyright, social })
    footer(class = 'footer')
        div(class = 'footer__content')
            div(class = 'footer__logo')
                +logo()
                
            div(class = 'footer__awards') 
                +label-wrapper({
                    label: awards.label,
                    hidden: true
                })
                    p #{awards.text}

            div(class = 'footer__nav')
                +label-wrapper({
                    label: nav.label
                })
                    +list(nav.list)

            div(class = 'footer__about')
                +label-wrapper({
                    label: about.label
                })
                    +list(about.list)

            div(class = 'footer__support')
                +label-wrapper({
                    label: support.label
                })
                    +list(support.list)

            div(class = 'footer__subscribtion')
                +label-wrapper({
                    label: subscribtion.label
                })
                    if (subscribtion.text)
                        p(class = 'footer__subscribtion-text') #{subscribtion.text}

                    +subscribtion-field(subscribtion.subscribtionField)

        div(class = 'footer__separator')
            
        div(class = 'footer__basement') 
            p(class = 'footer__copyright') #{copyright.text}
            
            div(class = 'footer__social')
                +label-wrapper({
                    label: social.label,
                    hidden: true
                })
                    +social-list(social.socialList)

                    




