/* root styles 
*/
.counter-bar {    
    display: grid;
    gap: 13px;
    grid-template-areas: 'list list';
    padding: 7px 15px; padding-right: 7px;
}

/* __list style
*/
.counter-bar__list {
    grid-area: list;
    display: grid; 
    gap: 7px;
    list-style: none;   
}

/* __apply-container/__clear-container styles
*/
.counter-bar__apply-button-container {
    justify-self: self-end;
}
.counter-bar__clear-button-container button {
    opacity: 1;
    transition: opacity .2s;
}
.counter-bar__clear-button-container button:disabled {
    opacity: 0;
    pointer-events: none;
}
