include ../counter/counter
include ../button/button

mixin counter-bar({ mode='autoApply', counter })
    div.counter-bar.js-counter-bar(
        data-mode=mode
        )
        ul.counter-bar__list
            if counter
                each data in counter
                    li.counter-bar__list-item
                        +counter(data)
        if (mode==='manualApply')
            div.counter-bar__clear-button-container.js-counter-bar__clear-button-container
                +button({
                    type: 'button',
                    style: 'color: var(--dark-shade-50per)',
                    label: 'очистить'
                })
            div.counter-bar__apply-button-container.js-counter-bar__apply-button-container
                +button({
                    type: 'button',
                    label: 'применить'
                })