/* root styles */

.counter-bar {    
    display: grid;
    gap: 13px;
    grid-template-areas: 'list list';
    padding: 7px 15px; padding-right: 7px;
}

.counter-bar__list {
    grid-area: list;
    display: grid; 
    gap: 7px;
    list-style: none;   
}

.counter-bar__apply-button,
.counter-bar__clear-button {
    width: min-content;
    padding: 5px 0;
    font: var(--h3-font);
    text-transform: uppercase;
    cursor: pointer;
}

.counter-bar__apply-button {
    justify-self: self-end;
    color: var(--purple-100per);
}

.counter-bar__clear-button {
    opacity: 1;
    transition: opacity .2s;
    color: var(--dark-shade-50per);
}

.counter-bar__clear-button:disabled {
    opacity: 0;
    pointer-events: none;
}
