include ../counter/counter
include ../button/button

mixin counter-bar({ mode='autoApply', counter, activityClass })
    div(
        class = activityClass ? `counter-bar js-counter-bar ${activityClass}` : 'counter-bar js-counter-bar'
        data-mode=mode
    )
        ul(class = 'counter-bar__list')
            if counter
                each data in counter
                    li(class = 'counter-bar__list-item')
                        +counter(data)
        if (mode==='manualApply')
            div(class = 'counter-bar__footer')
                +button({
                    label: 'очистить',
                    type: 'button',
                    inline: 'true',
                    color: 'dark-shade',
                    activityClass: 'counter-bar__clear-button js-counter-bar__clear-button'
                })
                +button({
                    label: 'применить',
                    type: 'button',
                    inline: 'true',
                    color: 'purple',
                    activityClass: 'js-counter-bar__apply-button'
                })