/* counter-bar */

.counter-bar {    
    display: grid;
    row-gap: 19px;
    padding: 5.5px 6px 7px 13.5px; 
}

/* list */

.counter-bar__list {
    display: grid; 
    gap: 7px;
    list-style: none;   
}

/* footer */

.counter-bar__footer {
    padding-top: 2px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
}

 /* activiy class for button */

.counter-bar__clear-button {
    transition: opacity .2s;
}
