include ../counter/counter
include ../button/button

mixin counter-bar({ autoApply, counters, activityClass })
    div(
        class = activityClass ? `counter-bar js-counter-bar ${activityClass}` : 'counter-bar js-counter-bar'
        data-auto-apply = autoApply
    )
        ul(class = 'counter-bar__list')
            if counters
                each counter in counters
                    li(class = 'counter-bar__list-item')
                        +counter(counter)
        if (!autoApply)
            div(class = 'counter-bar__footer')
                +button({
                    label: 'очистить',
                    type: 'button',
                    inline: 'true',
                    color: 'dark-shade',
                    activityClass: 'counter-bar__clear-button js-counter-bar__clear-button'
                })
                +button({
                    label: 'применить',
                    type: 'button',
                    inline: 'true',
                    color: 'purple',
                    activityClass: 'js-counter-bar__apply-button'
                })