include ../counter/counter

mixin counter-bar({ mode='autoApply', counter })
    div.counter-bar.js-counter-bar(
        data-mode=mode
        )
        ul.counter-bar__list
            if counter
                each data in counter
                    li.counter-bal__list-item
                        +counter(data)
        if (mode==='manualApply')
            button.counter-bar__clear-button.js-counter-bar__clear-button(type='button') очистить
            button.counter-bar__apply-button.js-counter-bar__apply-button(type='button') применить