extends ../../globals/template

include ../../components/layout/layout
include ../../components/room-detail/room-detail

block variables
    -const page = require('./../../globals/mocks/room-detail.json');
    -const description = page.description;
    -const lang = page.lang;
    -const title = page.title;

block heading
    | #{page.heading}
    
block content
    -
        const {
            layout,
            roomDetail
        } = page;

    +layout(layout, lang)
        +room-detail(roomDetail, lang)
