/* room detail */

/* heading */

.room-detail__heading {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/* presentation */

.room-detail__presentation {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    background-color: var(--dark-shade-5per);
}

/* image */

.room-detail__image {
    width: 100%;
}

@media (min-width: 1441px) {
    .room-detail__image_main {
        grid-row: span 2;
    }
}

@media (max-width: 1440px) {
    .room-detail__image_main {
        grid-column: span 2;
    }
}

/* layout wrapper */

.room-detail__layout-wrapper {
    box-shadow: var(--shadow-2);
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

/* content */

.room-detail__content {
    width: min(90vw, 1159px);
    padding: 70px 0;
    grid-column: 2;
    display: grid;
}

@supports not (width: min(90vw, 1159px)){
    .room-detail__content {
        width: 90vw;
        max-width: 1159px;
    }
}


@media (max-width: 1289px) {
    .room-detail__content {
        justify-content: center;
        row-gap: 70px;
    }
}

@media (min-width: 1290px) {
    .room-detail__content {
        grid-auto-flow: column;
        column-gap: 70px;
    }
}

/* information block */

.room-detail__information-block {
    display: grid;
}


@media (max-width: 639px) {
    .room-detail__information-block {
        row-gap: 70px;
    }
}

@media (min-width: 640px) and (max-width: 1289px) {
    .room-detail__information-block {
        gap: 70px 30px;
        justify-items: center;
    }
}

@media (max-width: 1289px) {
    .room-detail__information-block {
        grid-auto-columns: 1fr;
        row-gap: 70px;
    }
}

@media (min-width: 1290px) {
    .room-detail__information-block {
        grid-auto-columns: auto;
        justify-content: center;
        gap: 30px 70px;
    }
}

/* label */

.room-detail__label {
    margin-bottom: 20px;
    font: var(--h2-font);
    color: var(--dark-shade-100per);
}

.room-detail__rules-section .room-detail__label {
    padding-left: 20px;
}

/* feature section */

@media (max-width: 639px) and (orientation: portrait) {
    .room-detail__feature-section {
        padding: 0 20px;
    }
}

@media (min-width: 1290px) {
    .room-detail__feature-section {
        margin-right: 27px;
    }
}

/* doughnut section */

@media (max-width: 639px) and (orientation: portrait) {
    .room-detail__doughnut-section {
        padding: 0 20px;
    }
}

/* review section */

.room-detail__review-section {
    width: min(100%, 709px);
    display: grid;
    grid-template-columns: 1fr 80px;
}

@media (max-width: 639px) and (orientation: portrait) {
    .room-detail__review-section {
        padding: 0 20px;
    }
}

@media (min-width: 640px) {
    .room-detail__review-section {
        grid-column: span 2;
    }
}

/* review count */

.room-detail__review-count {
    margin-top: 6px;
    height: max-content;
    justify-self: end;
    font: var(--body-font);
    line-height: 18px;
    color: var(--dark-shade-50per);
}

/* review list */

.room-detail__review-list {
    display: grid;
    row-gap: 20px;
    list-style: none;
    grid-column: span 2;
}

/* rules section */

.room-detail__rules-section {
    width: min(100%, 271px);
}


/* cancel section */

.room-detail__cancel-section {
    width: min(100%, 341px);
}

@media (max-width: 639px) and (orientation: portrait) {
    .room-detail__cancel-section {
        padding: 0 20px;
    }
}

/* paragraph */ 

.room-detail__paragraph {
    font: var(--body-font);
    color: var(--dark-shade-75per);
}

@media (min-width: 1289px) {
    .room-detail__paragraph {
        white-space: pre-wrap;
    }
}

/* form booking*/

@media (min-width: 640px) {
    .room-detail__form-booking {
        width: 380px;
    }
}

@media (min-width: 640px) and (max-width: 1289px) {
    .room-detail__form-booking {
        justify-self: center;
    }
}

@media (min-width: 1290px) {
    .room-detail__form-booking {
        grid-column: 2;
    }
}