extends ../../globals/template

include ../../components/layout/layout
include ../../components/room-detail/room-detail

block variables
    -
        const page = require('../../globals/mocks/room-detail.ru.json');

        const { 
            lang,
            auth,
            user,
            title,
            description,
            roomDetail 
        } = page;

block heading
    | #{page.heading}
    
block content
    +layout(lang, auth, user)
        +room-detail(roomDetail, lang)
