/* counter */

.counter {
    height: 30px;
    display: grid;
    grid-template-columns: 
        auto 1fr 30px 32px 30px;
    grid-template-areas: 
        'label . decrement counter increment';
    align-items: center;
}

/* label */

.counter__label {
    grid-area: label;
    font: var(--h3-font);
    line-height: 24px;
    text-transform: uppercase;
}

/* input */

.counter__input {
    grid-area: counter;
    text-align: center;
    font: var(--h3-font);
    line-height: 24px;
    color: var(--dark-shade-100per);
    -moz-appearance: textfield;
}

.counter__input:focus {
    outline: var(--outline);
    outline-offset: 1px;
}

.counter__input::-webkit-outer-spin-button,
.counter__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* decrement */

.counter__decrement {
    grid-area: decrement;
    width: 30px; height: 30px;
    background: white;
    border: var(--border);
    border-color: var(--dark-shade-25per);
    border-radius: 50%;
    font: var(--body-font);
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-shade-50per);
    cursor: pointer;
}

.counter__decrement:active {
    border-color: var(--dark-shade-5per);
    transition: border .2s;  
}

.counter__decrement:hover:not(:disabled) {
    box-shadow: var(--shadow-hover);
}

.counter__decrement:disabled {
    border-color: var(--dark-shade-5per);
    transition: border .2s; 
    color: var(--dark-shade-25per);
    cursor: default;
}

.counter__decrement:focus {
    outline: none
}


/* increment */

.counter__increment {
    grid-area: increment;
    width: 30px; height: 30px;
    background: white;
    border: var(--border);
    border-color: var(--dark-shade-25per);
    border-radius: 50%;
    font: var(--body-font);
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-shade-50per);
    cursor: pointer;
}

.counter__increment:active {
    border-color: var(--dark-shade-5per);
    transition: border .2s;  
}

.counter__increment:hover:not(:disabled) {
    box-shadow: var(--shadow-hover);
}

.counter__increment:disabled {
    border-color: var(--dark-shade-5per);
    transition: border .2s; 
    color: var(--dark-shade-25per);
    cursor: default;
}

.counter__increment:focus {
    outline: none;
}


