/* counter */

.counter {
    height: 30px;
    display: grid;
    grid-template-columns: 
        auto 1fr 30px 32px 30px;
    grid-template-areas: 
        'label . decrement counter increment';
    align-items: center;
}

/* label */

.counter__label {
    grid-area: label;
    font: var(--h3-font);
    line-height: 24px;
    text-transform: uppercase;
}

/* input */

.counter__input {
    grid-area: counter;
    text-align: center;
    font: var(--h3-font);
    line-height: 24px;
    color: var(--dark-shade-100per);

    &:focus {
        outline: var(--outline);
        outline-offset: 1px;
    }
}

.counter__control {
    width: 30px; height: 30px;
    background: white;
    border: var(--border-1);
    border-color: var(--dark-shade-25per);
    border-radius: 50%;
    font: var(--body-font);
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-shade-50per);
    cursor: pointer;

    &:active {
        border-color: var(--dark-shade-5per);
        transition: border .2s;  
    }

    &:disabled {
        border-color: var(--dark-shade-5per);
        transition: border .2s; 
        color: var(--dark-shade-25per);
        cursor: default;
    }

    &:focus {
        outline: none;
    }

    &:hover:not(:disabled) {
        box-shadow: var(--shadow-hover);
    }
    
}

.counter__control_decrement {
    grid-area: decrement;
}

.counter__control_increment {
    grid-area: increment;
}

