/* root */

.tooltip {
    position: relative;
    width: 1.42857142857rem;
    height: 1.42857142857rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: var(--border-1);
    border-radius: 50%;
    font: var(--body-font);
    color: var(--dark-shade-25per);
    cursor: pointer;
    
    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }

    &:hover, &:focus {
        & .tooltip__description {
            z-index: 1;
            visibility: visible;
            opacity: 1;
            transition: opacity step-end 0.5s;
        }
    }
}

/* description */

.tooltip__description {
    z-index: -1;
    max-width: 14.2857142857rem;
    position: absolute;
    right: -5.35714285714rem;
    visibility: hidden;
    width: max-content;
    display: block;
    opacity: 0;
    padding: 0.35714285714rem;
    font: lighter 0.85714285714rem Arial;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 0;
    pointer-events: none;
}

