include ../dropdown/dropdown
include ../counter-bar/counter-bar

mixin quantity-dropdown({ dropdown, counterBar })
    div.quantity-dropdown.js-quantity-dropdown
        if dropdown
            +dropdown(dropdown)
                if counterBar
                    +counter-bar(counterBar)