include ../dropdown/dropdown
include ../counters-bar/counters-bar

mixin quantity-dropdown({ name, placeholder, show, disabled, mode='autoApply' })
    div.quantity-dropdown.js-quantity-dropdown
        input.quantity-dropdown__hidden-input.js-quantity-dropdown__submit-input(name=name hidden size="35")
        +dropdown({ placeholder, show, disabled })
            +counters-bar({ mode })
                if block
                    block