include ../button/button
include ./counter/counter

mixin quantity-dropdown({ textField={},  expanded=false, autoApply=false, counters=[], clearButton={}, applyButton={} })
    div(
        class = expanded ? 'quantity-dropdown quantity-dropdown_expanded js-quantity-dropdown' : 'quantity-dropdown js-quantity-dropdown'
        data-auto-apply = autoApply
    )
        +text-field({ 
            label: textField.label,
            controlClass: 'js-quantity-dropdown__text-field',
            input: {
                type: 'button',
                name: textField.input.name,
                placeholder: textField.input.placeholder,
                disabled: textField.input.disabled,  
                required: textField.input.required,
                title: textField.input.title,
                ariaLabel: textField.input.ariaLabel,
                ariaExpanded: `${expanded}`,
                activeClass: 'quantity-dropdown__button',     
                controlClass: 'js-quantity-dropdown__button'
            },
            icon: {
                text: 'expand_more',
                activeClass: 'quantity-dropdown__icon'
            }
        })

        div(class = 'quantity-dropdown__viewport')
            div(class = 'quantity-dropdown__container js-quantity-dropdown__container')

                if counters
                    ul(class = 'quantity-dropdown__counters-list')

                        each data in counters
                            li(class = 'quantity-dropdown__counters-list-item')
                                +counter(data)
        
                if !autoApply
                    div(class = 'quantity-dropdown__control-panel')
                        +button({
                            type: 'button',
                            label: clearButton.label,
                            link: true,
                            color: 'dark-shade',
                            controlClass: 'js-quantity-dropdown__clear-button'
                        })
                        +button({
                            type: 'button',
                            label: applyButton.label,
                            link: true,
                            color: 'purple',
                            controlClass: 'js-quantity-dropdown__apply-button'
                        })