include ../dropdown/dropdown
include ../counter-bar/counter-bar

mixin quantity-dropdown({ dropdown, counterBar })
    div(class = 'quantity-dropdown js-quantity-dropdown')
        +dropdown({
            expanded: dropdown.expanded,
            textField: {
                label: dropdown.textField.label,
                activityClass: 'js-quantity-dropdown__input',
                input: dropdown.textField.input
            }
        })
            if counterBar
                +counter-bar({
                    autoApply: counterBar.autoApply,
                    counters: counterBar.counters,
                    activityClass: 'js-quantity-dropdown__counter-bar'
                })