include ../dropdown/dropdown
include ../counters-bar/counters-bar

mixin quantity-dropdown({ label, name, placeholder, show, disabled, mode })
    div.quantity-dropdown.js-quantity-dropdown
        +dropdown({ label, placeholder, show, disabled })
            +counters-bar({ mode })
                if block
                    block