include ../dropdown/dropdown
include ../counter-bar/counter-bar

mixin quantity-dropdown({ name, label, value, show, disabled, required, mode, counter })
    div.quantity-dropdown.js-quantity-dropdown
        +dropdown({ name, label, value, show, disabled, required })
            +counter-bar({ mode, counter })