/* social list */

.social-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    list-style: none;
}

/* link */

.social-list__link {
    display: flex;

    &:active {  
        opacity: 0.5;
        transition: opacity 0.3s;
    }

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }

    &:hover { 
        & .social-list__svg {
            transform: scale(1.1);
        }
    }
}