mixin feature-list(featureList)
    dl(class = 'feature-list')
        each item, index in featureList
            div(class = 'feature-list__item')
                div(
                    class = 'feature-list__icon'
                    aria-hidden = 'true'
                ) #{item.icon}
                dt(class = 'feature-list__label') #{item.label}
                dd(class = 'feature-list__description') #{item.description}