/* toggle */

.toggle {   
    display: flex;
    cursor: pointer;
}

/* input */

.toggle__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.92857142857rem;
    height: 1.5rem;
    margin-right: 0.71428571428rem;
    padding: 0 0.28571428571rem;
    display: flex;
    align-items: center;
    border: var(--border-1);
    border-radius: 0.71428571428rem;
    cursor: inherit;

    &:before {
        content: '';
        width: 0.92857142857rem;
        height: 0.92857142857rem;
        border-radius: 0.71428571428ren;
        background: var(--dark-shade-25per);
        transition: transform .3s;
    }  

    &:checked {
        border-color: var(--purple-100per);
    }

    &:checked:before {
        background: var(--purple-gradient);
        transform: translateX(135%);
        transition: transform .3s;
    }

    &:checked:disabled::before {
        background: var(--dark-shade-25per);
    }

    &:disabled {
        border-color: var(--dark-shade-5per);
        cursor: default;
    }
    
    &:focus {
        outline: var(--outline);
        outline-offset: 1px;
    }

    &:hover:not(:disabled) {
        box-shadow: var(--shadow-hover);
    }
}

/* label */

.toggle__label {
    font: var(--body-font);
    line-height: 1.28571428571rem;
    color: var(--dark-shade-75per);
}










