mixin toggle({ name, label, checked=false, disabled=false })
    label(class = 'toggle')
        input(
            class = 'toggle__input'
            name = name
            type = 'checkbox'
            checked = checked ? true : false
            disabled = disabled ? true : false
        )
        span(class = 'toggle__box')
        if label
            span(class = 'toggle__label') #{label}