mixin toggle({ name, label, checked=false, disabled=false })
    label(class = 'toggle')
        input(
            class = 'toggle__input'
            name = name
            type = 'checkbox'
            checked = checked
            disabled = disabled
        )
        div(class = 'toggle__box')
        if label
            span(class = 'toggle__label') #{label}