/* toggle */

.toggle {   
    display: flex;
}

/* input */

.toggle__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 41px;
    height: 21px;
    margin-right: 10px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    border: var(--border-1);
    border-radius: 10px;
    cursor: pointer;
}    

.toggle__input:hover:not(:disabled) {
    box-shadow: var(--shadow-hover);
}

.toggle__input:checked {
    border-color: var(--purple-100per);
}

.toggle__input:focus {
    outline: var(--outline);
    outline-offset: 1px;
}

.toggle__input:disabled {
    border-color: var(--dark-shade-5per);
    cursor: default;
}

.toggle__input::before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background: var(--dark-shade-25per);
    transition: transform .3s;
}  

.toggle__input:checked::before {
    background: var(--purple-gradient);
    transform: translateX(135%);
    transition: transform .3s;
}

.toggle__input:checked:disabled::before {
    background: var(--dark-shade-25per);
}

/* label */

.toggle__label {
    font: var(--body-font);
    line-height: 18px;
    color: var(--dark-shade-75per);
}










