/* toggle */

.toggle {   
    display: flex;
    cursor: pointer;   
}

/* input */

.toggle__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}    

/* label */

.toggle__label {
    margin-left: 10px;
    font: var(--body-font);
    line-height: 18px;
    color: var(--dark-shade-75per);
}

/* box */

.toggle__box {
    width: 41px;
    height: 21px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    border: var(--border-1);
    border-radius: 10px;
}  

.toggle:hover:not(:disabled) .toggle__box,
.toggle:focus:not(:disabled) .toggle__box {
    box-shadow: var(--shadow-hover);
}

.toggle__input:checked + .toggle__box {
    border-color: var(--purple-100per);
}

.toggle__input:focus + .toggle__box {
    outline: var(--outline);
    outline-offset: 1px;
}

.toggle__box::before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background: var(--dark-shade-25per);
    transition: transform .3s;
}  

.toggle__input:checked + .toggle__box::before {
    background: var(--purple-gradient);
    transform: translateX(135%);
    transition: transform .3s;
}









