mixin glide({ img })
    div(class = 'glide js-glide')
        div(
            class = 'glide__track' 
            data-glide-el = 'track'
        )
            ul(class = 'glide__slides')
                each item in img
                    li(class = 'glide__slide') 
                        img(
                            class = 'glide__image' 
                            src = item.src
                            alt = item.alt
                            width = item.width
                            height = item.height
                        )
        div(
            class = 'glide__controls' 
            data-glide-el = 'controls'
            )
            button(
                class = 'glide__prev-button' 
                data-glide-dir = '<'
                aria-label = 'Предыдущий слайд'
            ) 
                div(class = 'glide__prev-button-icon') expand_more
            button(
                class = 'glide__next-button' 
                data-glide-dir = '>'
                aria-label = 'Следующий слайд'
            ) 
                div(class = 'glide__next-button-icon') expand_more

        div(
            class = 'glide__bullets' 
            data-glide-el = 'controls[nav]'
        ) 
            each item, index in img
                button(
                    class = 'glide__bullet' 
                    data-glide-dir = `=${index}`
                    disabled
                )