/* root styles
*/
.room-card {
    height: 257px;
    padding-bottom: 17px;
    display: grid;
    row-gap: 20px;
    background-color: white;
    box-shadow: var(--shadow-1);
    border-radius: 4px; 
}

/* carousel */

.room-card__carousel {
    width: 270px;
    position: relative;
    height: 151px;
}

/* link */

.room-card__link {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: var(--dark-shade-50per);
    font: var(--body-font);
    font-size: 10px;
    color: white;
    transition: opacity .3s;
}

.room-card__link:hover {
    opacity: 1;
    transition: opacity .3s;
}

.room-card__link:focus {
    opacity: 1;
    outline: var(--outline);
    outline-offset: 2px;
}

/* header */

.room-card__header {
    padding: 2px 20px 0 18px;
    display: grid; 
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: 'header-room-number header-room-category . header-rent-price header-rent-term';
    justify-content: space-between;
    align-items: baseline;
}

.room-card__room-number {
    grid-area: header-room-number;
    font: var(--h2-font);
    line-height: 17px;
}

.room-card__room-number::first-letter {
    font-size: 1rem;
}

.room-card__room-category {
    grid-area: header-room-category;
    margin-left: 6px;
    font: var(--h3-font);
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--purple-100per);
}

.room-card__rent-price {
    grid-area: header-rent-price;
    display: inline-flex;
    align-items: flex-end;
    font: var(--body-font);
    font-weight: bold;
    line-height: 1rem;
    color: var(--dark-shade-50per);
}

.room-card__rent-term {
    grid-area: header-rent-term;
    margin-left: 3.7px;
    font: var(--body-font);
    font-size: 0.8571428571428571rem;
    line-height: 0.8571428571428571rem;
    color: var(--dark-shade-50per);
}

/* rating */

.room-card__rating {
    position: relative;
    padding: 2px 20px 0 18px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.room-card__rating:after {
    position: absolute;
    left: 20px; 
    top: -8px;
    content: '';
    width: calc(100% - 40px); height: 1px;
    background: var(--dark-shade-10per);
}

/* reviews */

.room-card__reviews-count {
    align-self: start;
    font: var(--body-font);
    color: var(--dark-shade-50per);
}

.room-card__rewiew-explantion {
    font-weight: normal;
    margin-right: 1px;
}

