/* root styles */

.room-card {
    position: relative;
    width: min(100%, 270px);
    max-width: 270px;
    padding-bottom: 17px;
    display: grid;
    row-gap: 10px;
    background-color: white;
    box-shadow: var(--shadow-1);
    border-radius: 4px;

    &:hover {
        & .carousel__control {
            opacity: 1;
            transition: opacity .3s;
        }

        & .carousel__control_prev {
            background: linear-gradient(-90deg, transparent 0%, var(--dark-shade-50per) 100%);
        }

        & .carousel__control_next {
            background: linear-gradient(90deg, transparent 0%, var(--dark-shade-50per) 100%);
        }
    }
}

/* header */

.room-card__heading {
    margin-top: 10px;
    padding: 0 18px;
    display: inline-flex; 
    justify-content: space-between;
    align-items: baseline;
    line-height: 0.58333333333rem;

    & .room-card__number {
        font: var(--h2-font);
    
        &:first-letter {
            font-size: 1rem;
        }   
        
        & .room-card__сategory {
            font: var(--h3-font);
            text-transform: uppercase;
            color: var(--purple-100per);
        }
    }
    
    & .room-card__rent {
        font: var(--body-font);
        color: var(--dark-shade-50per);
    }
}

/* separator */

.room-card__separator {
    margin: 0 18px;
    height: 1px;
    background-color: var(--dark-shade-10per);
}


/* rating */

.room-card__rating {
    padding: 0 18px;
    display: flex;
    justify-content: space-between;

    & .room-card__review {
        align-self: start;
        font: var(--body-font);
        color: var(--dark-shade-50per);
    }
}

/* link */

.room-card__link {
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;

    &:after {
        content: 'subdirectory_arrow_left';
        position: absolute;
        bottom: 0;
        right: 0;
        font: var(--icon-font);
        font-size: 12px;
        color: var(--dark-shade-50per);
        opacity: 0;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-style: solid;
        border-width: 0 0 5px 5px;
        border-color: var(--dark-shade-5per) var(--purple-100per);
        opacity: 0;
        transition: all ease .3s;
    }

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }

    &:focus, &:hover {
        &:after {
            opacity: 1;
            transition: opacity .3s;
        }

        &:before {
            content: '';
            border-width: 0 0 18px 18px;
            opacity: 1;
            transition: all ease .3s;
        }
    }
}

@media (pointer: coarse) {
    .room-card__link {
        &:before {
            opacity: 1;
            border-width: 0 0 18px 18px;
        }

        &:after {
            opacity: 1;
            transition: opacity .3s;
        }
    }
}