/* root styles */

.room-card {
    position: relative;
    width: 19.2857142857rem;
    height: 18.3571428571rem;
    padding-bottom: 1.21428571429rem;
    display: grid;
    row-gap: 0.71428571428rem;
    background-color: white;
    box-shadow: var(--shadow-1);
    border-radius: 0.28571428571rem;

    &:hover {
        & .carousel__control {
            opacity: .5;
            transition: opacity .3s;
        }
    }
}

/* header */

.room-card__heading {
    margin-top: 0.71428571428rem;
    padding: 0 1.28571428571rem;
    display: inline-flex; 
    justify-content: space-between;
    align-items: baseline;
    line-height: 0.58333333333rem;

    & .room-card__number {
        font: var(--h2-font);
        
        & small {
            font-size: 1rem;
        }
        
        & .room-card__сategory {
            font: var(--h3-font);
            text-transform: uppercase;
            color: var(--purple-100per);
        }
    }
    
    & .room-card__rent {
        font: var(--body-font);
        color: var(--dark-shade-50per);
    }
}

/* separator */

.room-card__separator {
    margin: 0 1.28571428571rem;
    height: 1px;
    background-color: var(--dark-shade-10per);
}


/* rating */

.room-card__rating {
    padding: 0 1.28571428571rem;
    display: flex;
    justify-content: space-between;

    & .room-card__review-count {
        align-self: start;
        font: var(--body-font);
        color: var(--dark-shade-50per);
    }
}

/* link */

.room-card__link {
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        border-style: solid;
        border-width: 0 0 0 0;
        border-color: var(--dark-shade-5per) var(--purple-100per);
        transition: border-width ease .3s;
    }

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }

    &:focus, &:hover {
        &:before {
            border-width: 0 0 .9rem .9rem;
            transition: border-width ease .3s;
        }
    }
}