include ./label-wrapper/label-wrapper
include ../text-field/text-field
include ../quantity-dropdown/quantity-dropdown
include ../date-dropdown/date-dropdown
include ../subscribtion-field/subscribtion-field
include ../expandable-list/expandable-list
include ../list/list
include ../radio-bar/radio-bar
include ../toggle/toggle
include ../like/like
include ../rate-bar/rate-bar
include ../slider/slider
include ../button/button
include ../pagination/pagination
include ../feature/feature
include ../review/review

mixin form-elements({ formElements })
    div(class = 'form-elements')    
        div(class = 'form-elements__group-1')
            div(class = 'form-elements__text-field-section')
                +text-field(formElements.textFieldSection.textField)
            div(class = 'form-elements__text-field-focused-section')
                +text-field(formElements.textFieldFocusedSection.textField)
            div(class = 'form-elements__dropdown-section')
                +quantity-dropdown(formElements.dropdownSection.quantityDropdown.collapsed)
            div(class = 'form-elements__text-field-masked-section')
                +text-field(formElements.textFieldMaskedSection.textField)
            div(class = 'form-elements__date-dropdown-section')
                +date-dropdown(formElements.dateDropdownSection.dateDropdown)
            div(class = 'form-elements__filter-date-dropdown-section')
                +date-dropdown(formElements.filterDateDropdownSection.dateDropdown)
            div(class = 'form-elements__subscribtion-text-field-section')
                +subscribtion-field(formElements.subscribtionTextFieldSection.subscribtionField)
        
        div(class = 'form-elements__group-2')
                div(class = 'form-elements__filter-dropdown-section')
                    +quantity-dropdown(formElements.filterDropdownSection.quantityDropdown.collapsed)
                div(class = 'form-elements__filter-dropdown-section form-elements__filter-dropdown-section_expanded')
                    +quantity-dropdown(formElements.filterDropdownSection.quantityDropdown.expanded)
                div(class = 'form-elements__expandable-checkbox-list-section')
                    +expandable-list(formElements.expandableCheckboxListSection.expandableList.collapsed)
                div(class = 'form-elements__expandable-checkbox-list-section')
                    +expandable-list(formElements.expandableCheckboxListSection.expandableList.expanded)

        div(class = 'form-elements__group-3')
            div(class = 'form-elements__checkbox-buttons-section')
                +label-wrapper({ label: formElements.checkboxButtonsSection.label })
                    +list(formElements.checkboxButtonsSection.list)
            div(class = 'form-elements__radio-buttons-section')
                +label-wrapper({ label: formElements.radioButtonsSection.label })
                    +radio-bar(formElements.radioButtonsSection.radioBar)
            div(class = 'form-elements__toggle-section')
                +label-wrapper({ label: formElements.toggleSection.label })
                    div(class = 'form-elements__toggle-bar')
                        each data in formElements.toggleSection.toggle
                            +toggle(data)
            div(class = 'form-elements__like-button-section')
                +label-wrapper({ label: formElements.likeButtonSection.label })
                    div(class = 'form-elements__like-bar')
                        each data in formElements.likeButtonSection.like
                            +like(data)
            div(class = 'form-elements__rate-button-section')
                +label-wrapper({ label: formElements.rateButtonSection.label })
                    div(class = 'form-elements__rate-button-bar')
                        each data in formElements.rateButtonSection.rateBar
                            +rate-bar(data)

        div(class = 'form-elements__group-4')
            div(class = 'form-elements__dropdown-section form-elements__dropdown-section_expanded')
                +quantity-dropdown(formElements.dropdownSection.quantityDropdown.expanded)
            div(class = 'form-elements__rich-checkbox-buttons-section')
                +label-wrapper({ label: formElements.richCheckboxButtonsSection.label })
                    +list(formElements.richCheckboxButtonsSection.list)  
        
        div(class = 'form-elements__group-5')
            div(class = 'form-elements__range-section')
                +slider(formElements.rangeSection.slider)
            div(class = 'form-elements__buttons-section')
                +label-wrapper({ label: formElements.buttonsSection.label })
                    div(class = 'form-elements__buttons-column')
                        each item in formElements.buttonsSection.buttonsBar
                            div(class = 'form-elements__buttons-bar')
                                each data in item
                                    +button(data)
                        div(class = 'form-elements__submit-button')
                            +button(formElements.buttonsSection.submitButton)
            div(class = 'form-elements__pagination-section')
                +label-wrapper({ label: formElements.paginationSection.label })
                    +pagination(formElements.paginationSection.pagination)

        div(class = 'form-elements__group-6')
            div(class = 'form-elements__dropdown-section form-elements__dropdown-section_expanded')
                +quantity-dropdown(formElements.dropdownSection.quantityDropdown.expanded)
            div(class = 'form-elements__bullet-list-section')
                +label-wrapper({ label: formElements.bulletListSection.label })
                    +list(formElements.bulletListSection.list) 

        div(class = 'form-elements__group-7')
            div(class = 'form-elements__features-section')
                each data in formElements.featuresSection.features
                    +feature(data)
            div(class = 'form-elements__review-section')
                +review(formElements.reviewSection.review)