/* cards */

.cards {
    width: 90vw;
    max-width: 1159px;
    display: grid;
    column-gap: 40px;
    justify-content: center;
}

@media (min-width: 1292px) {
    .cards {
        grid-template-columns: 380px 380px auto;
    }
}

@media (max-width: 1292px) and (min-width: 890px) {
    .cards {
        grid-template-columns: 380px 380px;
    }
}

@media (max-width: 890px) {
    .cards {
        grid-template-columns: 100%;
    }
}

/* column */

.cards__column {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 40px;
    justify-items: center;
}
