extends ../../components/ui-kit/ui-kit

include ../../components/cards/cards

block title
    | Start page
block style
    | .ui-kit { background-color: var(--dark-shade-5per); }


block main

    -const cards = require('./../../globals/mocks/cards.json');
    -const room = require('./../../globals/mocks/rooms.json')[0];

    +cards({
        cards,
        room
    })