extends ../../globals/template

include ../../components/ui-kit-layout/ui-kit-layout
include ../../components/cards/cards

block title
    | Cards

block content
    +ui-kit-layout({
        backgroundColor: 'grey'
    })

        -const cards = require('./../../globals/mocks/cards.json');
        -const rooms = require('./../../globals/mocks/rooms.json');

        +cards({
            cards,
            rooms: [
                rooms[0],
                rooms[1]
            ]
        })