extends ../../globals/template

include ../../components/ui-kit-layout/ui-kit-layout
include ../../components/form-search/form-search
include ../../components/form-booking/form-booking
include ../../components/form-registration/form-registration
include ../../components/form-login/form-login
include ../../components/room-card/room-card

block variables
    -const title = 'Cards';
    -const cards = require('./../../globals/mocks/cards.json');
    -const rooms = require('./../../globals/mocks/rooms.json');

block content
    +ui-kit-layout({
        backgroundColor: 'grey'
    })
        div(class = 'cards')
            div(class = 'cards__column')
                +form-search(cards.formSearch)
                +form-registration(cards.formRegistration)
            div(class = 'cards__column')
                +form-booking({ 
                    root: cards.formBooking, 
                    room: rooms[0]
                })
                +form-login(cards.formLogin)
            div(class = 'cards__column')
                +room-card({ 
                    roomCard: cards.roomCard,
                    room: rooms[0]
                })
                +room-card({ 
                    roomCard: cards.roomCard,
                    room: rooms[1]
                })