/* carousel */

.carousel {
    position: relative;
    width: 19.2857142857rem;
    height: 10.7857142857rem;
    display: grid;
    border-top-left-radius: 0.28571428571rem;
    border-top-right-radius: 0.28571428571rem;
    overflow: hidden;
}

.carousel__slides {
    position: relative;
    display: flex;
    align-items: flex-start;
    list-style: none;
}

/* image */

.carousel__image {
    width: 19.2857142857rem;
    height: auto;

    &.carousel__image_lazy {
        display: none;
    }

    &.carousel__image_loaded {
        display: block;
    }

    &.carousel__image_preloader {
        display: block;
        filter: blur(5px);
    }
}

/* controls */

.carousel .carousel__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    &:hover, &:focus-within {
        & .carousel__control {
            opacity: 1;
            transition: opacity .3s;
        }
    }
}

/* control button */

.carousel__control {
    width: 3rem;
    z-index: 1;
    color: white;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity .3s;

    &:focus {
        outline: var(--outline);
        outline-offset: -1px;
    }
}

@media (pointer: coarse) {
    .carousel__control {
        opacity: 1;
    }
}

.carousel__control_prev{
    background: linear-gradient(-90deg, transparent 0%, var(--dark-shade-50per) 100%);
    
    & .carousel__icon {
        transform: rotate(90deg);
    }
}

@media (pointer: coarse) {
    .carousel__control_prev {
        background: linear-gradient(-90deg, transparent 0%, var(--dark-shade-50per) 100%);
    }
}

.carousel__control_next {
    background: linear-gradient(90deg, transparent 0%, var(--dark-shade-50per) 100%);

    & .carousel__icon {
        transform: rotate(-90deg);
    }
}

@media (pointer: coarse) {
    .carousel__control_next {
        background: linear-gradient(90deg, transparent 0%, var(--dark-shade-50per) 100%);
    }
}

/* icon */

.carousel__icon {
    display: block;
    font: var(--icon-font);
    font-size: 1.71428571429rem;
    pointer-events: none;
}