mixin carousel(imageList, lang)
    -
        const getImagePath = require('../../globals/helpers/getImagePath.js');   

        const i18n = require('../../components/room-card/carousel/i18n.json')[lang]; 

        const { 
            PREV_SLIDE, 
            NEXT_SLIDE 
        } = i18n;

    div(
        class = 'carousel js-carousel'
        data-show-controls = showControls ? true : false
    )
        ul(class = 'carousel__slides')    
            each item, index in imageList
                li(class = 'carousel__slide')
                    img(
                        class = item.preloader ? 'carousel__image carousel__image_lazy' : 'carousel__image'
                        data-src = item.preloader ? getImagePath(item.src) : false
                        src = item.preloader ? false : getImagePath(item.src)
                        alt = item.alt ? item.alt : false
                        width = item.width ? item.width : false
                        height = item.height ? item.height : false
                        loading = item.width && item.height ? 'lazy' : 'auto'
                    ) 

                    if item.preloader 
                        img(
                            class = 'carousel__image carousel__image_preloader'
                            src = getImagePath(item.preloader)
                            alt = item.alt ? item.alt : false
                            width = item.width ? item.width : false
                            height = item.height ? item.height : false
                            loading = item.width && item.height ? 'lazy' : 'auto'
                        )


        div(class = 'carousel__controls')
            button(
                class = 'carousel__control carousel__control_prev js-carousel__control_prev'
                title = PREV_SLIDE
                aria-label = PREV_SLIDE
            )
                span(
                    class = 'carousel__icon'
                    aria-hidden = 'true'
                ) expand_more

            button(
                class = 'carousel__control carousel__control_next js-carousel__control_next'
                title = NEXT_SLIDE
                aria-label = NEXT_SLIDE
            )
                span(
                    class = 'carousel__icon'
                    aria-hidden = 'true'
                ) expand_more