extends ../../components/ui-kit-layout/ui-kit-layout

block title
    | Start page

block content
    main.start-page
        ul.start-page__list
            lh.start-page__list-heading Toxin UI Kit
            li.start-page__list-item
                a.start-page__link(href='colors-and-type.html' title='move to "colors & type"') colors & type
            li.start-page__list-item
                a.start-page__link(href='form-elements.html' title='move to "form elements"') form elements
            li.start-page__list-item
                a.start-page__link(href='cards.html' title='move to "cards"') cards
        
            