/* slideshow */

.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    border-top-left-radius: 0.28571428571rem;
    border-top-right-radius: 0.28571428571rem;
    overflow: hidden;
}

.slideshow__slides {
    position: relative;
    display: flex;
    align-items: flex-end;
    list-style: none;
}

/* image */

.slideshow__image {
    &.slideshow__image_lazy {
        display: none;
    }

    &.slideshow__image_loaded {
        display: block;
    }

    &.slideshow__image_preloader {
        display: block;
        filter: blur(5px);
    }
}