mixin radio-button(radioButton)
    -
        const {
            name,
            value,
            label,
            checked=false,
            disabled=false
        } = radioButton;

    label(class = 'radio-button')
        input(
            class = 'radio-button__input'
            type = 'radio' 
            name = name 
            value = value 
            checked = checked ? true : false
            disabled = disabled ? true : false
        )
        span(class = 'radio-button__label') #{label}