/* radio button */

.radio-button {
    display: flex;
}

/* label */

.radio-button__label {
    font: var(--body-font);
    color: var(--dark-shade-50per);
    line-height: 18px;
}

.radio-button__input:checked ~ .radio-button__label {
    color: var(--dark-shade-75per);
}

/* input */

.radio-button__input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: var(--border-1);
    border-radius: 50%; 
    cursor: pointer;
} 

.radio-button__input:checked {
    border-color: var(--purple-100per);
}

.radio-button__input:disabled {
    border-color: var(--dark-shader-5per);
    cursor: default;
}

.radio-button__input:focus {
    outline: var(--outline);
    outline-offset: 1px;
}

.radio-button:hover .radio-button__input:not(:disabled) {
    box-shadow: var(--shadow-hover);
}

.radio-button__input::after {
    content: '';
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: var(--purple-gradient);
    transform: scale(0);
    transition: transform .3s;
} 

.radio-button__input:checked::after  {
    transform: scale(1);
    transition: transform .3s;
}

.radio-button__input:checked:disabled::after {
    background-color: var(--dark-shader-25per); 
}



