/* radio button */

.radio-button {
    display: flex;
    cursor: pointer;
}

/* label */

.radio-button__label {
    font: var(--body-font);
    color: var(--dark-shade-50per);
    line-height: 18px;
}

.radio-button__input:checked ~ .radio-button__label {
    color: var(--dark-shade-75per);
}

/* input */

.radio-button__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 

/* mark */

.radio-button__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: var(--border-1);
    border-radius: 50%; 
}  

.radio-button:hover:not(:disabled) .radio-button__mark {
    box-shadow: var(--shadow-hover);
}

.radio-button__input:checked + .radio-button__mark {
    border-color: var(--purple-100per);
}

.radio-button__input:disabled + .radio-button__mark {
    border-color: var(--dark-shader-5per);
}

.radio-button__input:focus + .radio-button__mark {
    outline: var(--outline);
    outline-offset: 1px;
}

.radio-button__mark::before {
    content: '';
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: var(--purple-gradient);
    transform: scale(0);
    transition: transform .3s;
} 

.radio-button__input:checked + .radio-button__mark::before {
    transform: scale(1);
    transition: transform .3s;
}

.radio-button__input:checked:disabled + .radio-button__mark::before{
    background-color: var(--dark-shader-25per); 
}



