mixin radio-button({ name, value, label, checked=false, disabled=false })
    label(class = 'radio-button')
        input(
            class = 'radio-button__input'
            type = 'radio' 
            name = name 
            value = value 
            checked = checked ? true : false
            disabled = disabled ? true : false
        )

        if label
            span(class = 'radio-button__label') #{label}