/* root styles 
*/
.text-field {
    display: grid;
    grid-template-areas: 
        'label'
        'input';
}

/* __label styles
*/
.text-field__label {
    grid-area: label;
    margin-bottom: 4px;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}

/* __input styles
*/
.text-field__input {
    grid-area: input;
    width: 100%; height: 44px;
    padding: 0 20px 0 15px;
    border: var(--border);
    border-radius: 4px;
    font: var(--body-font);
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-shade-75per);
}
.text-field__input::placeholder {
    color: var(--placeholder, var(--dark-shade-25per));
}
.text-field__input:hover:not(:disabled),
.text-field__input:focus {
    border-color: var(--dark-shade-50per);
    --placeholder: var(--dark-shade-75per);
}
.text-field__input:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

/* __icon styles
*/
.text-field__icon {
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--icon-font);
    color: var(--dark-shade-50per);
    font-size: 24px;
}
.text-field:hover:not(:disabled) .text-field__icon  {
    color: var(--dark-shade-75per);
}
/* __button styles
*/
.text-field__button {
    width: 100%;
    border: var(--border);
    border-radius: 4px; border-radius: 4px;
    cursor: pointer;
}
.text-field__button:focus {
    outline: var(--outline);
    outline-offset: 2px;
}

/* _theme_icon styles 
*/
.text-field_theme_icon .text-field__input {
    position: relative;
    text-align: start;
}
.text-field_theme_icon .text-field__icon {
    height: 44px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* _theme_icon-button styles 
*/
.text-field_theme_icon-button.text-field {
    grid-template-areas: 
        'label label'
        'input button';
    grid-template-columns: 1fr min-content;
}
.text-field_theme_icon-button .text-field__input {
    border-right: none;
    border-top-right-radius: 0; border-bottom-right-radius: 0;
}
.text-field_theme_icon-button .text-field__input:hover:not(:disabled),
.text-field_theme_icon-button .text-field__input:focus {
    border: var(--border);
    border-color: var(--dark-shade-50per);
}
.text-field_theme_icon-button .text-field__button {
    grid-area: button;
    border-left: none; 
    border-top-left-radius: 0; border-bottom-left-radius: 0;
}
.text-field_theme_icon-button .text-field__button:hover:not(:disabled),
.text-field_theme_icon-button .text-field__button:focus {
    border: var(--border);
    border-color: var(--dark-shade-50per);
}
.text-field_theme_icon-button .text-field__input:focus + .text-field__button:hover {
    border-left: none; 
}
