/* root styles */

.text-field {
    height: 44px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 44px;
}

/* text-field__icon styles */

.text-field__icon {
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* text-field__input styles */

.text-field__input {
    width: 100%;
    align-items: center;
    border: var(--border-dark-shade-25per);
    border-radius: 4px;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-field__input:hover, .text-field__input:focus {
    border: var(--border-dark-shade-50per);
}

.text-field__input::placeholder {
    color: var(--dark-shade-25per);
}

.text-field__input:focus::placeholder, 
.text-field__input:hover::placeholder {
    color: var(--dark-shade-75per);
}

