.text-field {
    height: 44px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 44px;
}

.text-field__icon {
    width: 44px;
    font-size: 24px;
    color: var(--dark-shade-50per);
}

.text-field__input {
    width: 100%;
    align-items: center;
    border: var(--border-dark-shade-25per);
    border-radius: 4px;
    padding: 0 12px;
}

.text-field__input:hover,
.text-field__input:focus {
    border: var(--border-dark-shade-50per);
}

.text-field__input:focus {
    outline-offset: 2px;
}

.text-field__input::placeholder {
    color: var(--dark-shade-25per);
}

.text-field__input:focus::placeholder, 
.text-field__input:hover::placeholder {
    color: var(--dark-shade-50per);
}

.text-field__input::selection {
    background-color: var(--dark-shade-25per);
}

.text-field__input:read-only {
    border: none;
}