/* nav */

/* list */

.nav__list {
    display: grid;
    grid-auto-columns: max-content;
    column-gap: 30px
}

@media (max-width: 607px) {
    .nav__list {
        margin-left: 20px;
        grid-auto-columns: max-content;
        row-gap: 12px
    }
}

@media (min-width: 608px) {
    .nav__list {
        grid-auto-flow: column;
    }
}

/* item */

.nav__item {
    list-style: none;
}

/* link */

.nav__link {
    font: var(--body-font);
    color: var(--dark-shade-50per);
}

.nav__link_weight_bold {
    font-weight: bold;
    color: var(--dark-shade-75per);
}

.nav__link:hover {
    color: var(--dark-shade-75per);
    text-decoration: underline;
}

.nav__link_weight_bold:hover {
    color: var(--dark-shade-100per);
}

.nav__link:focus {
    outline: var(--outline);
    outline-offset: 5px;
}