/* link */

.link {
    cursor: pointer;
    display: flex;

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }
    
    &:disabled {
        cursor: default;
    }

    &:not(.link_button) {
        width: max-content;
        font: var(--body-font);
        color: var(--dark-shade-50per);
        line-height: 1.2857142857143rem;
    }

    &:hover:not(.link_button) {
        text-decoration: underline;
        color: var(--dark-shade-75per);
    }

    &:active:not(.link_button) {
        color: var(--purple-100per);
    }
}

.link_bold:not(.link_button) {
    font-weight: bold;
    color: var(--dark-shade-75per);

    &:hover {
        color: var(--dark-shade-100per);
    }

    &:active:not(.link_button) {
        color: var(--purple-100per);
    }
}

.link_button {
    width: min(100%, 320px);
    height: min(100%, 3.14285714286rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.57142857143rem;
    font: var(--h3-font);
    font-weight: bold;
    text-transform: uppercase;
}

.link_filled {
    padding: 0 1.42857142857rem;
    background: var(--purple-gradient);
    color: white;

    &:active {
        opacity: .5;
        transition: opacity .3s;
    }

    &:disabled {
        opacity: .5;
        transition: opacity .3s;
    }

    &:hover:not(:disabled) {
        box-shadow: var(--shadow-hover);
    }
}

.link_with_border {
    padding: 0 1.28571428571rem;
    border: var(--border-3);
    color: var(--purple-100per);

    &:active {
        border-color: var(--purple-50per);
        transition: border-color .3s;
    }

    &:disabled {
        border-color: var(--purple-50per);
        transition: border-color .3s;
    }

    &:hover:not(:disabled) {
        box-shadow: var(--shadow-hover);
    }
}