mixin slider(slider, lang)
    -
        const {
            label,
            range,
            name,
            initValue,
            step,
            margin 
        } = slider;

        const i18n = require('../../components/slider/i18n.json')[lang];

        const { CURRENCY } = i18n;

    div(class = 'slider js-slider')
        label(class = 'slider__label')
            span #{label}
            input(
                class = 'slider__input js-slider__input'
                name = name
                type = 'text' 
                tabindex = '-1' 
                readonly
            )
        div(
            class = 'slider__range js-slider__range'
            data-range = range 
            data-init-value = initValue 
            data-step = step
            data-margin = margin
            data-lang = lang
            data-currency = CURRENCY
        )