/* slider */

.slider {
    height: 3.14285714286rem;
    display: grid;
    row-gap: 1.64285714286rem;
}

/* label */

.slider__label {
    display: flex;
    justify-content: space-between;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}

/* input */

.slider__input {
    margin-right: -3px;
    font: var(--body-font);
    font-size: 0.85714285714rem;
    color: var(--dark-shade-50per);
    height: 1.07142857143rem;
    text-align: end;
    pointer-events: none;
    outline: none;
}

/* slider */

.slider .slider__range {
    height: 6px;
    align-self: end;
    border-radius: 3px;
    border: var(--border-1);
}

/* base */

.slider .slider__range .slider__base {
    background: white;
    cursor: pointer;
}

/* connect */

.slider .slider__range .slider__connect {
    background: var(--green-gradient);
}


/* handle */

.slider .slider__range .slider__handle {
    width: 16px; 
    height: 16px;
    right: -15px;
    border: 2px solid white;
    border-radius: 50%;
    background: var(--green-gradient);
    box-shadow: none;
    cursor: pointer;
}

.slider .slider__range .slider__handle {
    &:after, &:before {
        content: none;
    }

    &:focus {
        outline: var(--outline);
        outline-offset: 2px;
    }

    &:hover {
        box-shadow: var(--shadow-hover);
    }
}

/* tooltip */

.slider .slider__range .slider__tooltip {
    visibility: hidden;
    width: max-content;
    opacity: 0;
    padding: 0.35714285714rem;
    font: lighter 0.85714285714rem Arial;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 0;
    pointer-events: none;
}

.slider__handle:hover,
.slider__handle:focus {
    & .slider__tooltip {
        visibility: visible;
        opacity: 1;
        transition: opacity step-end 0.5s;
    }
}
