/* slider */

.slider {
    height: 44px;
    display: grid;
    grid-template-areas:
        "label input"
        "slider slider";
    grid-template-rows: auto auto;
    gap: 23px 0;
}

/* label */

.slider__label {
    grid-area: label;
    font: var(--h3-font);
    color: var(--dark-shade-100per);
    text-transform: uppercase;
}

/* input */

.slider__input {
    margin-right: -3px;
    grid-area: input;
    font: var(--body-font);
    font-size: 12px;
    color: var(--dark-shade-50per);
    height: 15px;
    text-align: end;
    pointer-events: none;
}

/* slider */

.slider .slider__range {
    grid-area: slider;
    height: 6px;
    align-self: end;
    border-radius: 3px;
    border: var(--border);
}

/* base */

.slider .slider__range .slider__base {
    background: white;
    cursor: pointer;
}

/* connect */

.slider .slider__range .slider__connect {
    background: var(--green-gradient);
}


/* handle */

.slider .slider__range .slider__handle {
    width: 16px; 
    height: 16px;
    right: -15px;
    border: 2px solid white;
    border-radius: 50%;
    background: var(--green-gradient);
    box-shadow: none;
    cursor: pointer;
}

.slider .slider__range .slider__handle::after,
.slider .slider__range .slider__handle::before {
    content: none;
}

.slider .slider__range  .slider__handle:hover {
    box-shadow: var(--shadow-hover);
}

.slider .slider__range  .slider__handle:focus {
    outline: var(--outline);
    outline-offset: 2px;
}


